html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin:  0;
  padding: 0;
  color: #fff;
  background-color: #121212;
}

h1, h2, h3, h4, h4, h6 {
  margin: 20px;
  opacity: .9;
  -webkit-text-size-adjust: 100%
}

p {
  margin: 20px;
  opacity: .7;
  -webkit-text-size-adjust: 100%
}

.tc-gallery {
  position: relative;
  height: 100%;
  overflow: hidden;
  color: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 0 100%;
}

  .tc-gallery__start {
  }

    .tc-gallery__start__img {
      padding-bottom: 56.25%;
      background-repeat:   no-repeat;
      background-position: center center;
      background-size:     cover;
    }

    .tc-gallery__start > p {
      -webkit-scroll-snap-coordinate: 0 -webkit-calc(100% + 20px);
    }

    .tc-gallery__elem {
      position: absolute;
      top:  -webkit-calc(100% - 30px);
      left: 20px;
      width: -webkit-calc(100% - 40px);
      height: 100%;
      max-height: -webkit-calc(100% - 60px);
      background-repeat:   no-repeat;
      background-position: center center;
      background-size:     cover;
      box-shadow: 0 0 1px 1px rgba(255,255,255,.7), 0 0 5px 3px rgba(0,0,0,.5);
      border-radius: 3px;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: -webkit-transform .4s ease-out, opacity .4s ease-out;
      -webkit-transform-origin: 50% 0;
      -webkit-transform: scale(.9) translate3d(0,-20px,0);
    }

    .landscape > .tc-gallery__elem {
      top:  20px;
      left:  -webkit-calc(100% - 30px);
      height: -webkit-calc(100% - 40px);
      width: 100%;
      max-width: -webkit-calc(100% - 40px);
      max-height: none;
      -webkit-transform-origin: 0 50%;
      -webkit-transform: scale(.9) translate3d(-20px,0,0);
    }

    .tc-gallery__elem.next {
      z-index: 3;
      opacity: 1;
      -webkit-transform: scale(1) translate3d(0,0,0);
    }

    .tc-gallery__elem.next + .tc-gallery__elem {
      z-index: 2;
      opacity: 1;
      -webkit-transform: scale(.95) translate3d(0,-10px,0);
    }

    .tc-gallery__elem.next + .tc-gallery__elem + .tc-gallery__elem {
      z-index: 1;
      opacity: 1;
    }

    .landscape > .tc-gallery__elem.next + .tc-gallery__elem {
      -webkit-transform: scale(.95) translate3d(-10px,0,0);
    }

    .tc-gallery__elem.active {
      z-index: 4;
      opacity: 1;
    }

    .tc-gallery__elem.prev {
      z-index: 3;
      opacity: 1;
    }

      .tc-gallery__elem > img {
        position: absolute;
        top:  0;
        left: 0;
        width: 100%;
        height: auto;
        -webkit-transition: -webkit-transform .4s ease-in-out;
      }

      .landscape > .tc-gallery__elem > img {
        width:  auto;
        height: 100%;
      }

      .tc-gallery__elem > img.img-overflow {
        -webkit-transform: translate3d(0,0,0) !important;
      }

      .tc-gallery__elem__data {
        position: absolute;
        right:  0;
        bottom: 0;
        left:   0;
        background-color: rgba(68,68,68,.6);
        -webkit-backdrop-filter: blur(40px);
        -webkit-transition: .4s ease-in-out;
      }

      .landscape .tc-gallery__elem__data {
        top:    0;
        right:  0;
        bottom: 0;
        left: auto;
        width: 300px;
      }

      .img-overflow + .tc-gallery__elem__data {
        -webkit-transform: translate3d(0,0,0) !important;
      }

        .tc-gallery__elem__data:before {
          content: '';
          position: absolute;
          top: -46px;
          left: 10px;
          width:  36px;
          height: 36px;
          border-radius: 50%;
          opacity: 0;
          background-repeat:   no-repeat;
          background-position: center center;
          background-size: 16px 16px;
          background-color: #444;
          background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAP1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////9Du/pqAAAAFHRSTlMAc7hyyoZTLgcR9ZdD9nU/E5qZloiLOVQAAACqSURBVDjL7ZPLDgIhDEU75c0wMGr//1vFOg2JDbJx6d3Q5JwFhF7A3SeYJPkHwk5E1pX4CWNztqM7eOJk3MKgwWAmjodEkm0IG0lOADu4Nmyf3eDacH1sg2ujvK6bhWvj4MehcG0gD0a4Nur70cK1EeCfXyaYGTGBj0pmwi+AxIPm13fHg8RQC5NjHwqRGHrl2nppl2u/Kk6aVK/iIdWblrdwefev9T/9DZ8VrBATAYO+VQAAAABJRU5ErkJggg==');
          -webkit-transition: .4s ease-in-out;
        }

        .landscape .tc-gallery__elem__data:before {
          top:   10px;
          left: -46px;

        }

        .img-overflow + .tc-gallery__elem__data:before {
          opacity: 1;
        }

        .tc-gallery__elem__data > h2 {
          margin: 0 10px;
          font-size: 24px;
          line-height: 45px;
          white-space: nowrap !important;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .landscape .tc-gallery__elem__data > h2 {
          line-height: 35px;
          margin: 10px;
          white-space: normal !important;
          overflow: inherit;
        }

        .tc-gallery__elem__data__wrap {
          margin-bottom: 10px;
          overflow-x: hidden;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
        }

        .landscape .tc-gallery__elem__data__wrap {
          height: -webkit-calc(100% - 55px);
        }

        .tc-gallery__elem__data__wrap.noSwipe {
          height: -webkit-calc(100% - 55px);
        }

          .tc-gallery__elem__data__wrap__text {
          }

            .tc-gallery__elem__data__wrap__text > p {
              margin: 0 10px;
              font-size: 14px;
              line-height: 17px;
            }

