html, body {
  margin:  0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}


.title {
  text-align: center;
  padding: 0 20px;
  margin:  40px 0;
  font-weight: 100;
  font-size: 42px;
}





.main-wrapper {
  max-width: 900px;
  margin: 0 auto;
}



.app-wrapper {
  width: 100%;
  float: left;
}

@media screen and (min-width: 580px) {
  .app-wrapper {
    width: 50%;
    float: left;
  }
}

@media screen and (min-width: 870px) {
  .app-wrapper {
    width: 33.33337%;
    float: left;
  }
}

  .app-wrapper__pad {
    padding: 5px;
    margin:  0 auto;
    max-width: 290px;
  }



.app {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 2px;
}

  .app__watch {
    width:  220px;
    height: 245px;
    margin: 20px auto 5px;
    padding-left: 10px;
  }

    .app__watch__img {
      height: 100%;
      background-image: url("../images/AppleWatch.png");
      background-repeat:   no-repeat;
      background-position: center center;
      background-size:     contain;
    }

      .app__watch__img__screen {
        position: relative;
        top:  35px;
        left: 38px;
        width:  136px;
        height: 170px;
        background-color: #000;
      }

  .app__data {
    width: 230px;
    margin: 0 auto;
  }

  .app__controls {
    text-align: center;
  }

    .app__controls > button {
      font-family: inherit;
      border: none;
      outline: none;
      padding: 3px 7px;
      border-radius: 2px;
      background-color: #fff;
      cursor: pointer;
    }

    .app__controls > button:hover > .fa, .app__controls > button.active > .fa {
      color: #03f;
    }

  .app__title {
    margin: 15px 0;
    font-size: 18px;
  }

  .app__info {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px;
  }



.stage {
  position: relative;
  height: 100%;
  background-repeat:   no-repeat;
  background-position: center center;
  background-size:     contain;
  overflow: hidden;
}

  .stage:before {
    content: "";
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background: inherit;
    opacity: 0;
    -webkit-filter: blur(5px);
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
  }

  .stage.blur:before {
    opacity: 1;
  }

  .stage > img {
    max-width:  100%;
    max-height: 100%;
  }

  .stage__frame {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    overflow: hidden;
  }

  .stage__frame.active {
    z-index: 1;
  }

  .stage__frame__bg {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
  }

  .animate > .stage__frame__bg {
    opacity: .85;
  }



.glance {

}

  .glance__screen {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
  }

    .glance__tape {
      position: absolute;
      top:    0;
      right:  0;
      bottom: 0;
      left:   0;
      white-space: nowrap;
      font-size: 0;
    }

      .glance__img {
        display: inline-block;
        width:  100%;
        height: 100%;
        background-repeat:   no-repeat;
        background-position: center center;
        background-size:     contain;
      }

  .glance__dots {
    position: absolute;
    height: 10px;
    right:  0;
    bottom: 0;
    left:   0;
    text-align: center;
    font-size: 0;
  }

    .glance__dots__dot {
      display: inline-block;
      vertical-align: top;
      width:  4px;
      height: 4px;
      margin: 0 3px;
      background-color: #fff;
      opacity: .25;
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: .4s ease-in-out;
              transition: .4s ease-in-out;
    }

    .glance__dots__dot.active {
      opacity: 1;
    }

  .glance__animate {
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
  }

  .animate > .glance__animate {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }



.notification {

}

  .notification__frame {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
  }

  .animate > .notification__frame {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

    .notification__text {
      text-align: center;
      font-weight: 300;
      -webkit-transition: .4s ease-in-out;
              transition: .4s ease-in-out;
    }

    .animate .notification__text {
      opacity: 0;
      -webkit-transition-delay: 1.5s;
              transition-delay: 1.5s;
    }

      .notification__text__title {
        font-size: 17px;
        color: #fff;
        margin: 115px 0 5px;
      }

      .notification__text__sub {
        font-size: 12px;
        color: #ff3333;
        text-transform: uppercase;
      }

    .notification__tape {
      position: absolute;
      top:    0;
      right:  0;
      bottom: 0;
      left:   0;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .animate .notification__tape {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

      .notification__tape::-webkit-scrollbar {
        display: none;
      }

      .notification__logo {
        position: absolute;
        top: 17px;
        left: 50%;
        margin-left: -43px;
        width:  86px;
        height: 86px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        background-repeat:   no-repeat;
        background-position: center center;
        background-size:     contain;
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
      }

      .animate .notification__logo {
        -webkit-transition: .4s ease-in-out 1.5s;
                transition: .4s ease-in-out 1.5s;
        -webkit-transform: scale(.45) translate3d(-90px,-85px,0);
                transform: scale(.45) translate3d(-90px,-85px,0);
      }

      .notification__img {
        -webkit-transform: translate3d(0,170px,0);
                transform: translate3d(0,170px,0);
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
      }

      .animate .notification__img {
        margin-bottom: -170px;
        -webkit-transition: .4s ease-in-out 1.5s;
                transition: .4s ease-in-out 1.5s;
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
      }

      .notification__img > img {
        max-width: 100%;
      }

      .notification__time {
        position: absolute;
        top:   0;
        right: 5px;
        color: #fff;
        font-weight: 100;
        opacity: 0;
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
      }

      .animate .notification__time {
        opacity: .5;
        -webkit-transition: .4s ease-in-out 1.5s;
                transition: .4s ease-in-out 1.5s;
      }





.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}