html, body {
  margin:  0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

strong {
  font-weight: 700;
}


.title {
  text-align: center;
  padding: 0 20px;
  margin:  40px 0;
  font-weight: 100;
  font-size: 42px;
}





.main-wrapper {
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}



.app-wrapper {
  width: 300px;
  display: inline-block;
  margin-right: -3px;
  text-align: left;
}

  .app-wrapper__pad {
    padding: 5px;
    margin:  0 auto;
  }



.app {
  padding: 10px;
  background-color: #f0f0f0;
  border-radius: 2px;
}

  .app__watch {
    width:  220px;
    height: 245px;
    margin: 20px auto 15px;
    padding-left: 10px;
  }

    .app__watch__img {
      height: 100%;
      background-image: url("../images/AppleWatch.png");
      background-repeat:   no-repeat;
      background-position: center center;
      background-size:     contain;
    }

      .app__watch__img__screen {
        position: relative;
        top:  35px;
        left: 38px;
        width:  136px;
        height: 170px;
        background-color: #000;
      }

  .app__data {
    width: 230px;
    margin: 0 auto;
  }

  .app__controls {
    text-align: center;
    font-size: 0;
  }

    .app__controls > button {
      vertical-align: top;
      font-family: inherit;
      font-size: 12px;
      width: 76px;
      border: none;
      outline: none;
      padding: 3px;
      background-color: #f0f0f0;
      color: #333;
      box-shadow: 0 0 0 1px #333;
      cursor: pointer;
      -webkit-transition: .4s ease-in-out;
              transition: .4s ease-in-out;
    }

    .app__controls > button:first-child {
      border-radius: 2px 0 0 2px;
    }

    .app__controls > button:last-child {
      border-radius: 0 2px 2px 0;
    }

    .app__controls > button.active {
      background-color: #f80;
      color: #fff;
    }

  .app__title {
    margin: 15px 0;
    font-size: 18px;
  }

  .app__info {
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 15px;
  }



.stage {
  position: relative;
  height: 100%;
  overflow: hidden;
}

  .stage__blur {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background-image: url('../images/AppleWatch-screen-blur.png');
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:     contain;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
  }

  .blur > .stage__blur {
    opacity: 1;
  }

  .stage__base {
    position: relative;
    height: 100%;
    background-repeat:   no-repeat;
    background-position: center center;
    background-size:     contain;
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
  }

  .blur > .stage__base {
    opacity: 0;
  }

    .icon {
      position: absolute;
      width:  36px;
      height: 36px;
      border-radius: 50%;
      background-repeat:   no-repeat;
      background-position: center center;
      background-size:     contain;
      -webkit-transition: .4s ease-in-out;
              transition: .4s ease-in-out;
    }

    .icon--xs {width:  8px; height:  8px;}
    .icon--s  {width: 24px; height: 24px;}
    .icon--m  {width: 28px; height: 28px; left: 50%; margin-left: -14px;}
    .icon--l  {width: 32px; height: 32px;}

    .icon--1  {background-image: url('../images/base-icons/1.png'); top: 10px; left: 20px;}
    .icon--2  {background-image: url('../images/base-icons/2.png'); top: 3px;}
    .icon--3  {background-image: url('../images/base-icons/3.png'); top: 10px; right: 20px;}
    .icon--4  {background-image: url('../images/base-icons/4.png'); top: 41px; left: 3px;}
    .icon--5  {background-image: url('../images/base-icons/5.png'); top: 35px; left: 33px;}
    .icon--6  {background-image: url('../images/base-icons/6.png'); top: 35px; right: 33px;}
    .icon--7  {background-image: url('../images/base-icons/7.png'); top: 41px; right: 3px;}
    .icon--8  {background-image: url('../images/base-icons/8.png'); top: 80px; left: 0;}
    .icon--9  {background-image: url('../images/base-icons/9.png'); top: 68px; left: 12px;}
    .icon--10 {top: 50%; left: 50%; margin-top: -18px; margin-left: -18px; cursor: pointer;}
    .icon--11 {background-image: url('../images/base-icons/11.png'); top: 68px; right: 13px;}
    .icon--12 {background-image: url('../images/base-icons/12.png'); top: 80px; right: 0;}
    .icon--13 {background-image: url('../images/base-icons/13.png'); bottom: 42px; left: 3px;}
    .icon--14 {background-image: url('../images/base-icons/14.png'); top: 102px; left: 33px;}
    .icon--15 {background-image: url('../images/base-icons/15.png'); top: 102px; right: 33px;}
    .icon--16 {background-image: url('../images/base-icons/16.png'); right: 3px; bottom: 42px;}
    .icon--17 {background-image: url('../images/base-icons/17.png'); bottom: 11px; left: 19px;}
    .icon--18 {background-image: url('../images/base-icons/18.png'); bottom: 5px;}
    .icon--19 {background-image: url('../images/base-icons/19.png'); right: 20px; bottom: 11px;}
    .icon--20 {background-image: url('../images/base-icons/20.png'); bottom: 0; left: 43px;}

    .zoom > .icon--10 {opacity: 1; -webkit-transform: scale(6); transform: scale(6);}

    .zoom > .icon--5 {-webkit-transform: translate3d( -51px,-88px,0) scale(1.5); transform: translate3d(-51px,-88px,0) scale(1.5);}
    .zoom > .icon--6 {-webkit-transform: translate3d(  51px,-88px,0) scale(1.5); transform: translate3d( 51px,-88px,0) scale(1.5);}
    .zoom > .icon--14 {-webkit-transform: translate3d(-51px, 88px,0) scale(1.5); transform: translate3d(-51px, 88px,0) scale(1.5);}
    .zoom > .icon--15 {-webkit-transform: translate3d( 51px, 88px,0) scale(1.5); transform: translate3d( 51px, 88px,0) scale(1.5);}

    .zoom > .icon--9 {-webkit-transform: translate3d(-100px,0,0) scale(1.5); transform: translate3d(-100px,0,0) scale(1.5);}
    .zoom > .icon--11 {-webkit-transform: translate3d(100px,0,0) scale(1.5); transform: translate3d( 100px,0,0) scale(1.5);}

    .zoom > .icon--8 {-webkit-transform: translate3d(-118px,0,0) scale(1.5); transform: translate3d(-118px,0,0) scale(1.5);}
    .zoom > .icon--12 {-webkit-transform: translate3d(118px,0,0) scale(1.5); transform: translate3d( 118px,0,0) scale(1.5);}

    .zoom > .icon--2 {-webkit-transform: translate3d( 0,-108px,0) scale(1.5); transform: translate3d(0,-108px,0) scale(1.5);}
    .zoom > .icon--18 {-webkit-transform: translate3d(0, 108px,0) scale(1.5); transform: translate3d(0, 108px,0) scale(1.5);}

    .zoom > .icon--1 {-webkit-transform: translate3d( -60px,-104px,0) scale(1.5); transform: translate3d(-60px,-104px,0) scale(1.5);}
    .zoom > .icon--3 {-webkit-transform: translate3d(  60px,-104px,0) scale(1.5); transform: translate3d( 60px,-104px,0) scale(1.5);}
    .zoom > .icon--17 {-webkit-transform: translate3d(-60px, 104px,0) scale(1.5); transform: translate3d(-60px, 104px,0) scale(1.5);}
    .zoom > .icon--19 {-webkit-transform: translate3d( 60px, 104px,0) scale(1.5); transform: translate3d( 60px, 104px,0) scale(1.5);}

    .zoom > .icon--4 {-webkit-transform: translate3d( -70px,-88px,0) scale(1.5); transform: translate3d(-70px,-88px,0) scale(1.5);}
    .zoom > .icon--7 {-webkit-transform: translate3d(  70px,-88px,0) scale(1.5); transform: translate3d( 70px,-88px,0) scale(1.5);}
    .zoom > .icon--13 {-webkit-transform: translate3d(-70px, 88px,0) scale(1.5); transform: translate3d(-70px, 88px,0) scale(1.5);}
    .zoom > .icon--16 {-webkit-transform: translate3d( 70px, 88px,0) scale(1.5); transform: translate3d( 70px, 88px,0) scale(1.5);}

    .zoom > .icon--20 {-webkit-transform: translate3d(-48px,110px,0) scale(1.5); transform: translate3d(-48px,110px,0) scale(1.5);}



.stage__frame {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    pointer-events: none;
  }

  .stage__frame.active {
    z-index: 1;
    pointer-events: auto;
  }

  .stage__frame__bg {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background-color: #000;
    opacity: 0;
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
  }

  .animate > .stage__frame__bg {
    opacity: .85;
  }



.application {
  background-repeat:   no-repeat;
  background-position: center center;
  background-size:     contain;
  opacity: 0;
  -webkit-transition: .4s ease-in-out;
          transition: .4s ease-in-out;
  -webkit-transform: scale(.17);
          transform: scale(.17);
}

.application.active {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}


.glance {

}

  .glance__screen {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
  }

    .glance__tape {
      position: absolute;
      top:    0;
      right:  0;
      bottom: 0;
      left:   0;
      white-space: nowrap;
      font-size: 0;
    }

      .glance__img {
        display: inline-block;
        width:  100%;
        height: 100%;
        background-repeat:   no-repeat;
        background-position: center center;
        background-size:     contain;
      }

  .glance__dots {
    position: absolute;
    height: 10px;
    right:  0;
    bottom: 0;
    left:   0;
    text-align: center;
    font-size: 0;
  }

    .glance__dots__dot {
      display: inline-block;
      vertical-align: top;
      width:  4px;
      height: 4px;
      margin: 0 3px;
      background-color: #fff;
      opacity: .25;
      border-radius: 50%;
      cursor: pointer;
      -webkit-transition: .4s ease-in-out;
              transition: .4s ease-in-out;
    }

    .glance__dots__dot.active {
      opacity: 1;
    }

  .glance__animate {
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
  }

  .animate > .glance__animate {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }



.notification {

}

  .notification__frame {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    -webkit-transition: .4s ease-in-out;
            transition: .4s ease-in-out;
    -webkit-transform: translate3d(0,100%,0);
            transform: translate3d(0,100%,0);
  }

  .animate > .notification__frame {
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

    .notification__text {
      text-align: center;
      font-weight: 300;
      -webkit-transition: .4s ease-in-out;
              transition: .4s ease-in-out;
    }

    .animate .notification__text {
      opacity: 0;
      -webkit-transition-delay: 1.5s;
              transition-delay: 1.5s;
    }

      .notification__text__title {
        font-size: 17px;
        color: #fff;
        margin: 115px 0 5px;
      }

      .notification__text__sub {
        font-size: 12px;
        color: #ff3333;
        text-transform: uppercase;
      }

    .notification__tape {
      position: absolute;
      top:    0;
      right:  -15px;
      bottom: 0;
      left:   0;
      overflow-x: hidden;
      overflow-y: hidden;
    }

    .animate .notification__tape {
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
    }

      .notification__tape__inner {
        position: absolute;
        top:    0;
        bottom: 0;
        left:   0;
        width: 136px;
      }

      .notification__logo {
        position: absolute;
        top: 17px;
        left: 50%;
        margin-left: -43px;
        width:  86px;
        height: 86px;
        border-radius: 50%;
        box-shadow: 0 0 10px rgba(0,0,0,.5);
        background-repeat:   no-repeat;
        background-position: center center;
        background-size:     contain;
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
      }

      .animate .notification__logo {
        -webkit-transition: .4s ease-in-out 1.5s;
                transition: .4s ease-in-out 1.5s;
        -webkit-transform: scale(.45) translate3d(-90px,-85px,0);
                transform: scale(.45) translate3d(-90px,-85px,0);
      }

      .notification__img {
        -webkit-transform: translate3d(0,170px,0);
                transform: translate3d(0,170px,0);
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
      }

      .animate .notification__img {
        margin-bottom: -170px;
        -webkit-transition: .4s ease-in-out 1.5s;
                transition: .4s ease-in-out 1.5s;
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
      }

        .notification__img__header {
          font-weight: 100;
          text-transform: uppercase;
          font-size: 11px;
          text-align: right;
          letter-spacing: 1px;
          color: #fff;
          padding: 7px 8px 7px 50px;
          margin: 18px 1px 0;
          border-radius: 7px 7px 0 0;
        }

        .notification__img > img {
          max-width: 100%;
        }

      .notification__time {
        position: absolute;
        top:   0;
        right: 5px;
        color: #fff;
        font-weight: 100;
        opacity: 0;
        -webkit-transition-delay: .5s;
                transition-delay: .5s;
      }

      .animate .notification__time {
        opacity: .5;
        -webkit-transition: .4s ease-in-out 1.5s;
                transition: .4s ease-in-out 1.5s;
      }





.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}