img.img,
.img > img {
  vertical-align: top;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

img.img-contain,
.img-contain > img {
  object-fit: contain;
}

img.img-left, .img-left > img { object-position: left; }
img.img-right, .img-right > img { object-position: right; }

.stick {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  z-index: 1;
  transform: translate3d(0, 0, 0);
}

.pos-static { position: static; }
.pos-absolute { position: absolute; }
.pos-relative { position: relative; }
.pos-fill {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.pull-left { float: left; }
.pull-right { float: right; }

.top-0 { top: 0; }
.right-0 { right: 0; }
.bottom-0 { bottom: 0; }
.left-0 { left: 0; }

.top-100p { top: 100%; }
.right-100p { right: 100%; }
.bottom-100p { bottom: 100%; }
.left-100p { left: 100%; }

.zidx-1 { z-index: 1; }
.zidx-2 { z-index: 2; }
.zidx-3 { z-index: 3; }
.zidx-4 { z-index: 4; }
.zidx-5 { z-index: 5; }
.zidx-10 { z-index: 10; }

.dis-none, .hidden { display: none; }
.dis-block { display: block; }
.dis-flex { display: flex; }
.flex-col { flex-direction: column; }
.flex-grow { flex-grow: 1; min-width: 0; }
.flex-wrap { flex-wrap: wrap; }
.flex-row-rev { flex-flow: row-reverse; }
.flex-col-rev { flex-flow: column-reverse; }

@media (min-width: 480px) {
  .dis-flex-xs { display: flex; }
  .flex-row-xs { flex-direction: row; }
}

@media (min-width: 768px) {
  .dis-flex-s { display: flex; }
}

$sizes: 375, 380, 480, 650, 768, 1024, 1230, 1280, 1440, 1600;

@each $size in $sizes {
  .w#{$size} .dis-block-#{$size} { display: block; }
  .w#{$size} .dis-flex-#{$size} { display: flex; }
  .w#{$size} .hide-#{$size} { display: none; }
  #js-wrap:not(.w#{$size}) .show-#{$size} { display: none; }
}

.noshrink { flex-shrink: 0; }
.nopointer { pointer-events: none; }

.just-start { justify-content: flex-start; }
.just-center { justify-content: center; }
.just-end { justify-content: flex-end; }
.just-between { justify-content: space-between; }
.just-around { justify-content: space-around; }
.just-even { justify-content: space-evenly; }

.align-center { align-items: center; }
.align-start { align-items: flex-start; }
.align-end { align-items: flex-end; }

.ratio-05 { aspect-ratio: 0.5; }
.ratio-07 { aspect-ratio: 0.7; }
.ratio-1, .ratio-10 { aspect-ratio: 1; }
.ratio-11 { aspect-ratio: 1.1; }
.ratio-12 { aspect-ratio: 1.2; }
.ratio-15 { aspect-ratio: 1.5; }
.ratio-2 { aspect-ratio: 2; }
.ratio-3 { aspect-ratio: 3; }

$widths: 1, 5, 10, 14, 15, 16, 20, 25, 30, 32, 35, 36, 40, 50, 70, 100, 125, 150, 200, 300;

@each $width in $widths {
  .w-#{$width} { width: 1px * $width; }
}

@for $n from 1 through 20 {
  .w-1\/#{$n} { width: 100% / $n; }
}

$widthPercent: 5, 10, 20, 25, 30, 35, 40, 45, 50, 60, 70, 80, 90, 100;

@each $p in $widthPercent {
  .w-#{$p}p { width: $p * 1% }
}

.w-33p { width: calc(100% / 3) }

.w768 {
  .w-33p-s { width: calc(100% / 3) }

  @each $p in $widthPercent {
    .w-#{$p}p-s { width: $p * 1% }
  }
}

.w1024 {
  .w-33p-m { width: calc(100% / 3) }

  @each $p in $widthPercent {
    .w-#{$p}p-m { width: $p * 1% }
  }
}

$maxws: 100, 200, 250, 300, 350, 400, 450, 500, 600, 650, 680, 700, 800, 900, 1024, 1200, 1440;

@each $maxw in $maxws {
  .maxw-#{$maxw} { max-width: 1px * $maxw; }
}

.w768 {
  @each $maxw in $maxws {
    .maxw-#{$maxw}-s { max-width: 1px * $maxw; }
  }
}

.w1024 {
  @each $maxw in $maxws {
    .maxw-#{$maxw}-m { max-width: 1px * $maxw; }
  }
}

$minws: 0, 25, 100, 150, 200, 300, 310, 400, 500, 1000;

@each $minw in $minws {
  .minw-#{$minw} { min-width: 1px * $minw; }
}

$heights: 5, 10, 14, 15, 16, 20, 25, 30, 36, 38, 40, 50, 55, 60, 70, 80, 100, 150, 200, 500;

@each $height in $heights {
  .h-#{$height} { height: 1px * $height; }
}

.h-auto { height: auto; }
.h-100p { height: 100%; }
.h-50vh { height: 50vh; }
.h-100vh { height: 100vh; }

.w768 {
  @each $height in $heights {
    .h-#{$height}-s { height: 1px * $height; }
  }
}

.minh-30 { min-height: 30px; }
.minh-100 { min-height: 100px; }

$maxhs: 300, 400, 450, 500;

@each $maxh in $maxhs {
  .maxh-#{$maxh} { max-height: 1px * $maxh; }
}

.txt-50p { font-size: 50%; }

$fontSizes: 10, 11, 12, 13, 14, 16, 18, 20, 21, 22, 24, 26, 28, 30, 32, 36, 40, 50, 60, 80, 100;

@each $fontSize in $fontSizes {
  .txt-#{$fontSize} { font-size: 0.1rem * $fontSize !important; }
}

@media (min-width: 380px) {
  @each $fontSize in $fontSizes {
    .txt-#{$fontSize}-xxs { font-size: 0.1rem * $fontSize !important; }
  }
}

@media (min-width: 480px) {
  @each $fontSize in $fontSizes {
    .txt-#{$fontSize}-xs { font-size: 0.1rem * $fontSize !important; }
  }
}

@media (min-width: 768px) {
  @each $fontSize in $fontSizes {
    .txt-#{$fontSize}-s { font-size: 0.1rem * $fontSize !important; }
  }
}

@media (min-width: 1024px) {
  @each $fontSize in $fontSizes {
    .txt-#{$fontSize}-m { font-size: 0.1rem * $fontSize !important; }
  }
}

@for $w from 1 through 10 {
  .txtw-#{$w * 100} { font-weight: $w * 100; }
}

.txt-left { text-align: left; }
.txt-center { text-align: center; }
.txt-right { text-align: right; }

.txt-italic { font-style: italic; }
.txt-capital { text-transform: capitalize; }
.txt-uppercase { text-transform: uppercase; }

.txtc-primary { color: var(--primary); }
.txtc-primary-h { color: var(--primary-h); }
.txtc-primary-light { color: var(--primary-light); }
.txtc-primary-lighter { color: var(--primary-lighter); }
.txtc-primary-lightest { color: var(--primary-lightest); }
.txtc-secondary { color: var(--secondary); }
.txtc-secondary-h { transition: color 0.3s; }
.txtc-secondary-h:hover { color: var(--primary-h); transition: color 0.1s; }
.txtc-base { color: var(--txt); }
.txtc-base-o { color: var(--txt-d); }
.txtc-dark { color: var(--txt-d); }
.txtc-grey { color: var(--grey); }
.txtc-grey01 { color: var(--grey01); }
.txtc-grey02 { color: var(--grey02); }
.txtc-grey03 { color: var(--grey03); }
.txtc-grey05 { color: var(--grey05); }
.txtc-grey07 { color: var(--grey07); }
.txtc-red { color: var(--red); }
.txtc-green { color: var(--green); }
.txtc-orange { color: var(--orange); }
.txtc-white { color: #fff; }
.txtc-black { color: #000; }

.txtc-grad {
  background: linear-gradient(45deg, var(--primary-dark), var(--primary-h), var(--secondary) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.txtc-grad-i::before {
  background: linear-gradient(45deg, var(--primary-dark), var(--primary-h), var(--secondary) 80%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.dark .txtc-base { color: var(--txt-d); }
.dark .txtc-base-o { color: var(--txt); }

.txt-truncate { 
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.txt-truncate-02 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.txt-truncate-03 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.txt-nowrap { white-space: nowrap; }

.spacing-03rem { letter-spacing: 0.3rem; }

.lineh-0 { line-height: 0; }
.lineh-1, .lineh-10 { line-height: 1; }

$ns: -150, -100, -30, -20, -15, -10, -8, -5, -2, 0, 1, 2, 3, 4, 5, 7, 8, 10, 15, 20, 24, 25, 30, 35, 40, 45, 50, 60, 70, 80, 100, 150;

.mar-auto { margin: auto; }
.mar-lr-auto { margin-left: auto; margin-right: auto; }
.mar-tb-auto { margin-top: auto; margin-bottom: auto; }

@each $n in $ns {
  .mar-#{$n} { margin: 1px * $n; }
  .mar-t-#{$n} { margin-top: 1px * $n; }
  .mar-r-#{$n} { margin-right: 1px * $n; }
  .mar-b-#{$n} { margin-bottom: 1px * $n; }
  .mar-l-#{$n} { margin-left: 1px * $n; }
  .mar-tb-#{$n} { margin-top: 1px * $n; margin-bottom: 1px * $n; }
  .mar-lr-#{$n} { margin-left: 1px * $n; margin-right: 1px * $n; }

  .pad-#{$n} { padding: 1px * $n; }
  .pad-t-#{$n} { padding-top: 1px * $n; }
  .pad-r-#{$n} { padding-right: 1px * $n; }
  .pad-b-#{$n} { padding-bottom: 1px * $n; }
  .pad-l-#{$n} { padding-left: 1px * $n; }
  .pad-tb-#{$n} { padding-top: 1px * $n; padding-bottom: 1px * $n; }
  .pad-lr-#{$n} { padding-left: 1px * $n; padding-right: 1px * $n; }
}

$nps: -20, 5, 15;

@each $np in $nps {
  .mar-t-#{$np}p { margin-top: 1% * $np; }
  .pad-t-#{$np}p { padding-top: 1% * $np; }
}

.opacity-0 { opacity: 0; }

@for $op from 1 through 9 {
  .opacity-0#{$op} { opacity: $op * 0.1; }
}

.opacity-1-h { transition: opacity 0.3s; }
.opacity-1-h:hover { opacity: 1; }

.bgc-bg { background-color: var(--bg); transition: background-color 0.3s; }
.dark .bgc-bg { background-color: var(--bg-d); }
.bgc-white { background-color: #fff; }
.bgc-white08 { background-color: rgba(255, 255, 255, .8); }
.bgc-grey { background-color: var(--grey); }
.bgc-grey01-h, .bgc-grey02-h { transition: background-color 0.3s; }
.bgc-grey03, .bgc-grey03-h:hover { background-color: var(--grey03); transition: background-color 0.1s; }
.bgc-grey02, .bgc-grey02-h:hover { background-color: var(--grey02); transition: background-color 0.1s; }
.bgc-grey01, .bgc-grey01-h:hover { background-color: var(--grey01); transition: background-color 0.1s; }
.bgc-grey005, .bgc-grey005-h:hover { background-color: var(--grey005); transition: background-color 0.1s; }
.bgc-primary { background-color: var(--primary); }
.bgc-primary-light { background-color: var(--primary-light); }
.bgc-primary-lighten { background-color: var(--primary-lighten); }
.bgc-primary-lighten-h { transition: background-color 0.3s; }
.bgc-primary-lighten-h:hover { background-color: var(--primary-lighten); transition: background-color 0.1s; }
.bgc-primary-lighter { background-color: var(--primary-lighter); }
.bgc-primary-lighter-h { transition: background-color 0.3s; }
.bgc-primary-lighter-h:hover { background-color: var(--primary-lighter); transition: background-color 0.1s; }
.bgc-primary-lightest { background-color: var(--primary-lightest); }
.bgc-primary-lightest-h { transition: background-color 0.3s; }
.bgc-primary-lightest-h:hover { background-color: var(--primary-lightest); transition: background-color 0.1s; }
.bgc-primary-dark { background-color: var(--primary-dark); }
.bgc-primary-darker { background-color: var(--primary-darker); }
.bgc-blue { background-color: var(--blue); }
.bgc-green { background-color: var(--green); }
.bgc-blue02 { background-color: var(--blue02); }
.bgc-green02 { background-color: var(--green02); }

.bg-blur20 { backdrop-filter: blur(20px); -webkit-backdrop-filter: blur(20px); }

@for $dn from 1 through 10 {
  .delay-#{$dn} { animation-delay: $dn * 0.1s; }
}

$brads: 3, 5, 7, 10, 15, 20;

@each $brad in $brads {
  .brad-#{$brad} { border-radius: $brad * 1px; }
}

.brad-50p { border-radius: 50%; }

.transform3d { transform: translate3d(0, 0, 0); }

.trans-03 { transition: 0.3s; }

.curs-default { cursor: default; }
.curs-pointer { cursor: pointer; }

.nolist { list-style-type: none; }

.shadow-grey01 { box-shadow: 0 0 0 1px var(--grey01); }
.shadow-grey02 { box-shadow: 0 0 0 1px var(--grey02); }
.shadow-grey03 { box-shadow: 0 0 0 1px var(--grey03); }
.shadow-primary { box-shadow: 0 0 0 1px var(--primary); }
.shadow3 { box-shadow: 0 0 0 3px; }
.shadow { box-shadow: 0 0 0 1px var(--primary-lighter); }
.shadow-base { box-shadow: var(--shadow); }

.border-grey01 { border: solid 1px var(--grey01); }
.border-grey02 { border: solid 1px var(--grey02); }
.border-grey03 { border: solid 1px var(--grey03); }
.dark .border-primary-lighten-d { border: solid 1px var(--primary-lighten); }
.border-base { border: solid 1px var(--bg); }
.dark .border-base { border: solid 1px var(--bg-d); }

.noverflow { overflow: hidden; }

.scroll { overflow: auto; }
.scrollX { overflow-x: auto; }
.scrollY { overflow-y: auto; }
.scroll_snap-x { scroll-snap-type: x mandatory; }
.scroll_snap_item { scroll-snap-align: center; }

@media (max-width: 374px) {
  .show-xxs { display: none; }
}

@media (max-width: 479px) {
  .show-xs { display: none; }
}

@media (max-width: 767px) {
  .show-s { display: none; }
}

@media (max-width: 1023px) {
  .show-m { display: none; }
}

@media (max-width: 1279px) {
  .show-l { display: none; }
}

@media (max-width: 1439px) {
  .show-xl { display: none; }
}

.hide { display: none; }

@media (min-width: 375px) {
  .hide-xxs { display: none; }
}

@media (min-width: 480px) {
  .hide-xs { display: none; }
}

@media (min-width: 768px) {
  .hide-s { display: none; }
}

@media (min-width: 1024px) {
  .hide-m { display: none; }
}

@media (min-width: 1280px) {
  .hide-l { display: none; }
}

@media (min-width: 1440px) {
  .hide-xl { display: none; }
}

.nojs .show-nojs { display: block; }