.actionbar_wrap {
  position: sticky;
  z-index: 5;
  bottom: 30px;
  left: 50%;
  width: 0;
  animation: come-in-up 0.3s var(--bezier);
}

.actionbar {
  background-color: var(--bg);
  box-shadow: var(--shadow);
  border-radius: 6px;
  color: currentColor;
  display: inline-block;
  transition:
    background-color 0.3s,
    box-shadow 0.3s;
  transform: translate3d(-50%, 0, 0);
}

.dark .actionbar {
  background-color: var(--bg-d);
}