.app {
  display: flex;
  padding: 52px 0 50px;
  min-height: 100vh;
}

.app.resizing {
  transition: padding 0.3s var(--bezier);
}

.wrap {
  width: 100%;
  padding: 30px;

  &--mar {
    margin-left: -30px;
    margin-right: -30px;
  }
}

.w768 .wrap {
  width: calc(100% - 120px);
  max-width: 1440px;
  padding: 60px 0;
  margin: 0 auto;

  &--mar {
    margin-left: -60px;
    margin-right: -60px;
  }
}

.wrap.pad-tb-0 {
  padding-top: 0;
  padding-bottom: 0;
}

.wrap.pad-b-0 {
  padding-bottom: 0;
}

.tip {
  position: fixed;
  z-index: 17;
  box-sizing: content-box;
  max-width: 248px;
  min-height: 16px;
  padding: 0px 5px;
  border-radius: 3px;
  background-color: #000;
  color: #fff;
  opacity: 0;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s;
  pointer-events: none;
}

.dark .tip {
  background-color: #fff;
  color: #000;
}

.popup {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  overflow-y: auto;

  &_ {
    width: calc(100% - 30px);
    max-width: 500px;
    margin: auto;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    border-radius: 15px;
    opacity: 0;
    animation: come-in-up 0.3s var(--bezier) forwards;
  }
}

.dark .popup_ {
  background-color: var(--bg-d);
  border: solid 1px var(--primary-lighten);
}

@media (min-width: 768px) {
  .app {
    padding: 72px 0 0 70px;
  }

  .app.chat-third { padding-right: 300px; }
  .app.chat-half { padding-right: min(800px, calc((100vw - 70px) / 2)); }
}

@media (min-width: 1250px) {
  .app.chat-third { padding-right: 24vw; }
}

.line {
  flex-shrink: 0;
  flex-grow: 0;
  height: 1px;
  background-color: var(--grey01);
}

.line-dark {
  background-color: var(--bg-d);
}

.dark .line-dark {
  background-color: var(--bg);
}

.line-v {
  flex-shrink: 0;
  flex-grow: 0;
  width: 1px;
  background-color: var(--grey01);
}

.highlight {
  background-color: var(--highlight);
}

