.rtcl {
  padding: 20px;

  &_subscribe {
    margin-bottom: 30px;
    border-radius: 10px;
    background-color: var(--grey01);
    overflow: hidden;
    animation: shake 0.5s 1s var(--bezier);

    &_note {
      transition: transform 0.3s var(--bezier);
      transform: translate3d(0, 0, 0);
    }

    &_note:nth-child(2) {
      position: absolute;
      top: 0;
      left: 100%;
      width: 100%;
    }

    &.active &_note {
      transform: translate3d(-100%, 0, 0);
    }
  }

  &_hero {
    min-height: 250px;
    border-radius: 10px;
    padding: 20px 20px 35px 20px;
    background: radial-gradient(farthest-corner at 50% 100%, #aaa, #333 100%);

    &_btm {
      margin: 50px 0 10px;
    }
  }

  &_toc {
    position: sticky;
    bottom: 50px;
    border-top: solid 1px var(--primary-lighter);

    &_list {
      display: none;
      position: absolute;
      right: 10px;
      bottom: 100%;
      left: 10px;
      max-height: calc(100vh - 175px);
      margin-bottom: 10px;
      padding: 20px;
      border-radius: 10px;
      border: solid 1px var(--grey02);
      box-shadow: var(--shadow-grey);
      overflow-y: auto;

      &.show {
        display: block;
        animation: come-in-up 0.3s var(--bezier);
      }

      &_ {
        position: relative;
        margin-left: 5px;

        &::before {
          content: '';
          position: absolute;
          top: 15px;
          left: 0;
          bottom: 15px;
          width: 1px;
          background-color: var(--primary-lighter);
        }
      }

      &_elem {
        position: relative;
        display: block;
        color: currentColor;
        padding: 6px 10px 6px 25px;
        border-radius: 0 3px 3px 0;
        transition: background-color 0.3s;

        &:hover {
          color: currentColor;
          background-color: var(--primary-lighter);
          transition: background-color 0.1s;
        }

        &::before {
          content: '';
          position: absolute;
          top: 8px;
          left: -0.5px;
          height: 100%;
          width: 2px;
        }

        &.past::before {
          background-color: var(--primary);
        }

        &:last-child::before {
          display: none;
        }

        &.h2 {
          margin: 0;
          font-size: 1.4rem;
          font-weight: 500;

          &::after {
            content: '';
            position: absolute;
            top: 8px;
            left: -6px;
            width: 10px;
            height: 10px;
            border-radius: 50%;
            background-color: var(--bg);
            border: solid 2px var(--primary-lighter);
          }

          &.active::after {
            border: solid 2px var(--primary)
          }
        }

        &.h3 {
          margin: 0;
          padding-left: 30px;
          font-size: 1.3rem;
          font-weight: 350;
        }
      }
    }
  }

  &_versions {
    position: relative;
    z-index: 1;
    
    &.stick {
      top: 10px;
    }
    
    &_ {
      margin: 0 -20px;
      padding: 10px 20px;
    }
  }

  & h2 {
    margin: 50px -20px 20px;
    padding: 20px;
    border-top: solid 1px var(--grey02);
    border-bottom: solid 1px var(--grey02);
  }

  & p {
    margin-bottom: 1em;

    & a {
      color: currentColor;
      box-shadow: inset 0 -4px 0 var(--primary-lighten);
      transition: box-shadow 0.3s;

      &:hover {
        box-shadow: inset 0 -8px 0 var(--primary-light);
        transition: box-shadow 0.1s;
      }
    }

    & .removed {
      text-decoration: line-through;
      background-color: hsla(360, 100%, 80%, 0.3);
    }

    & .added {
      background-color: hsla(120, 100%, 80%, 0.3);
      font-weight: 400;
    }
  }

  &_img {
    aspect-ratio: 2;
    background-color: var(--grey01);
    border-radius: 5px;
    border: solid 1px var(--grey01);
    overflow: hidden;
  }

  &_table {
    display: grid;
    grid-auto-flow: row;
    margin: 0 auto 20px;
    border: solid 1px var(--grey02);
    border-radius: 10px;
    font-size: 12px;
    overflow-x: auto;

    &.col-2 { grid-template-columns: repeat(2, auto); }
    &.col-3 { grid-template-columns: repeat(3, auto); }
    &.col-4 { grid-template-columns: repeat(4, auto); }
    &.col-5 { grid-template-columns: repeat(5, auto); }

    &_cell {
      padding: 10px;
      min-width: 200px;
      max-width: 325px;
      box-shadow: 1px 1px var(--grey01);
    }
  }
}

.dark .rtcl_toc_list_elem.h2::after {
  background-color: var(--bg-d);
}

@media (min-width: 480px) {
  .rtcl_subscribe {
    &_note:nth-child(2) {
      top: 100%;
      left: 0;
      right: auto;
      width: auto;
    }

    &.active &_note {
      transform: translate3d(0, -100%, 0);
    }
  }
}

.w650 .rtcl {
  padding: 30px;

  &_hero {
    padding: 35px;

    &_btm {
      margin: 30px 0 10px;
      min-height: 150px;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
    }
  }

  &_versions {
    &.stick {
      top: 52px;
    }

    &_ {
      display: flex;
      align-items: center;
      margin: 0 -30px;
      padding: 10px 30px;
    }
  }

  & h2 {
    margin: 50px -30px 30px;
    padding: 30px;
  }

  & p {
    font-size: 1.8rem;
  }

  &_table {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .rtcl_toc {
    bottom: 0;
  }

  .rtcl_versions.stick {
    top: 30px;
  }

  .w650 .rtcl_versions.stick {
    top: 72px;
  }
}

.w1024 .rtcl {
  max-width: 1440px;
  padding: 30px;
  margin: 0 auto;

  &_wrap {
    position: relative;
    padding-left: 275px;
  }

  &_toc {
    position: fixed;
    top: 72px;
    left: 70px;
    width: 275px;
    height: calc(100vh - 72px);
    padding: 30px;
    border-top: none;
    overflow-y: auto;
    animation: come-in-left 0.3s var(--bezier);

    &_small {
      display: none;
    }

    &_list {
      display: block;
      position: relative;
      right: auto;
      bottom: auto;
      left: auto;
      max-height: none;
      margin-bottom: 0;
      padding: 0;
      border: none;
      box-shadow: none;
      overflow-y: visible;

      &.show {
        animation: none;
      }

      &_ {
        margin: 0 -10px 0 0;
      }
    }
  }
}

.w1600 .rtcl_wrap {
  padding-left: 0;

  & > .rtcl {
    width: calc(100% - 550px);
  }
}