.btn {
  height: 36px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: var(--primary);
  color: #fff;
  font-weight: 400;
  box-shadow: var(--shadow);
  transition: background-color 0.3s, border-color 0.3s;

  &[disabled] {
    pointer-events: none;
    opacity: 0.5;
  }

  &.icon {
    width: 36px;
    padding: 0;
  }

  &.s {
    height: 24px;
    padding: 0 10px;
    font-size: 12px;

    &.icon {
      width: 24px;
      padding: 0;
    }
  }

  &.m {
    height: 30px;
    padding: 0 12px;
    font-size: 13px;

    &.icon {
      width: 30px;
      padding: 0;
    }
  }

  &.l {
    height: 42px;
    padding: 0 17px;

    &.icon {
      width: 42px;
      padding: 0;
    }
  }

  &:hover {
    background-color: var(--primary-h);
    transition: background-color 0.1s;
  }

  &.red {
    background-color: var(--red);
    box-shadow: var(--shadow-red);

    &:hover {
      background-color: var(--red-h);
    }
  }

  &.green {
    background-color: var(--green);
    box-shadow: var(--shadow-green);

    &:hover {
      background-color: var(--green-h);
    }
  }

  &.grey {
    background-color: var(--grey);
    box-shadow: var(--shadow-grey);

    &:hover {
      background-color: var(--grey-h);
    }
  }

  &.lightgrey {
    color: currentColor;
    background-color: var(--grey01);
    box-shadow: var(--shadow-grey);

    &:hover {
      background-color: var(--grey02);
    }
  }

  &.grad {
    background: linear-gradient(60deg, var(--primary-dark), var(--primary), var(--secondary));
    background-size: 150%;
    background-position: 100%;
    transition: background-size 0.3s;

    &:hover {
      background-size: 100%;
      transition: background-size 0.2s;
    }
  }

  &.noshadow {
    box-shadow: none;
  }

  &.blank {
    background-color: transparent;
    color: inherit;
    box-shadow: none;
    transition: background-color 0.1s;

    &:hover {
      background-color: var(--primary-lightest);
    }

    &.grey:hover {
      background-color: var(--grey01);
    }
  }

  &.line {
    background-color: transparent;
    color: inherit;
    border: solid 1px var(--primary-h);
    box-shadow: none;
    transition: border-color 0.1s, background-color 0.1s;

    &:hover {
      background-color: var(--primary-lightest);
      border: solid 1px var(--primary);
    }

    &.active {
      background-color: var(--primary);
      color: var(--txt-d);
    }

    &.grey {
      border: solid 1px var(--grey03);

      &:hover {
        background-color: var(--grey01);
        border: solid 1px var(--grey05);
      }

      &.active {
        background-color: var(--primary-darker);
        color: var(--txt-d);
      }
    }
  }
}

.switch {
  position: relative;
  width: 40px;
  aspect-ratio: 1.82;
  border-radius: 30% / 50%;
  background-color: var(--grey01);
  transition: background-color 0.3s var(--bezier);

  &:hover {
    background-color: var(--primary-light);
  }

  &::before {
    content: '';
    position: absolute;
    top: 13.5%;
    left: 7.5%;
    width: 40%;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: #fff;
    transition: transform 0.3s var(--bezier);
    transform: translate3d(0, 0, 0);
  }

  &[aria-checked=true] {
    background-color: var(--primary);

    &::before {
      transform: translate3d(112.5%, 0, 0);
    }
  }

  &[disabled] {
    pointer-events: none;

    &::before {
      opacity: 0.5;
    }
  }
}

.segmented {
  display: flex;
  align-items: center;
  max-width: 100vw;
  padding: 0 20px;
  overflow-x: auto;

  & > button {
    height: 36px;
    margin: 0 5px;
    padding: 0 20px;
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;
    border-radius: 18px;
    background-color: transparent;
    transition: background-color 0.3s, color 0.3s;

    &:hover {
      background-color: var(--grey01);
      transition: background-color 0.1s;
    }

    &.active {
      background-color: var(--grey02);
    }

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }
  }

  &_label {
    margin: 0 -10px 0 5px;
    padding: 3px 7px;
    border-radius: 10px;
    font-size: 1rem;
    background-color: var(--grey01);
  }

  & > .active &_label {
    background-color: var(--bg);
  }

  &.outline {
    padding: 5px 0;
    border: solid 1px var(--grey01);
    border-radius: 25px;

    & > button {
      &.active {
        color: var(--txt-d);
        background-color: var(--primary);
      }
    }
  }
}

.dark .segmented > .active .segmented_label {
  background-color: var(--bg-d);
}

.radio {
  display: flex;
  align-items: flex-start;
  padding: 10px 15px;
  border-radius: 7px;
  transition: background-color 0.3s;

  &::before {
    content: '';
    flex-shrink: 0;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: 5px 15px 0 0;
    border-radius: 50%;
    border: solid 1px var(--grey03)
  }

  &:hover {
    background-color: var(--grey01);
    transition: background-color 0.1s;
  }

  &.active {
    background-color: var(--primary-darker);
    color: var(--txt-d);

    &::before {
      border: solid 5px var(--txt-d);
    }
  }
}

.card {
  border-radius: 10px;
  padding: 15px 20px;
  background-color: var(--primary-lightest);
  border: solid 2px transparent;
  transition: border 0.3s, background-color 0.3s;

  &:hover {
    background-color: transparent;
    border: solid 2px var(--primary-lighter);
    transition: border 0.1s, background-color 0.1s;
  }

  &-invert {
    background-color: transparent;
    border: solid 2px var(--primary-lighter);
    transition: background-color 0.3s;

    &:hover {
      background-color: var(--primary-lightest);
      transition: background-color 0.1s;
    }
  }
}

.w480 {
  .card {
    padding: 30px 35px;
  }
}

.checkbox {
  width: 14px;
  height: 14px;
  border-radius: 3px;
  border: solid 1px var(--grey03);
  color: var(--txt-d);
  font-size: 12px;

  &.active, &.partial {
    background-color: var(--primary-h);
    border: none;
  }
}