.dropdown-bg {
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.dropdown {
  position: absolute;
  z-index: 2;
  top: 100%;
  left: 0;
  min-width: 200px;
  max-width: 100vw;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  border: solid 1px var(--primary-lighter);
  padding: 10px;
  box-shadow: var(--shadow);
  font-size: 1.4rem;
  font-weight: 400;
  animation: come-in-up 0.4s var(--bezier);
  backdrop-filter: blur(10px);

  &.scroll {
    max-height: 300px;
    overflow-y: auto;
  }

  &.tl {
    top: auto;
    bottom: 100%;
  }

  &.tr {
    top: auto;
    left: auto;
    bottom: 100%;
    right: 0;
  }

  &.br {
    left: auto;
    right: 0;
  }

  & > button, & > .item {
    display: block;
    width: 100%;
    margin-bottom: 2px;
    padding: 7px 15px;
    border-radius: 5px;
    background-color: transparent;
    text-align: left;
    transition: background-color 0.3s;

    &[disabled] {
      pointer-events: none;
      opacity: 0.5;
    }

    :last-child {
      margin-bottom: 0;
    }

    &:hover, &.highlighted {
      background-color: var(--primary-lighter);
      transition: background-color 0.1s;
    }

    &.txtc-red:hover {
      background-color: var(--red01);
    }

    &.active {
      background-color: var(--primary-dark);
      color: var(--txt-d);
    }
  }
}

.dark .dropdown {
  background-color: rgba(0, 0, 0, 0.65);
  border: solid 1px var(--primary-lighten);
}

@keyframes come-in-up {
  0% { opacity: 0; transform: translate3d(0, 10px, 0); }
  100% { opacity: 1; transform: translate3d(0, 0, 0); }
}