.footer_bg {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.footer {
  position: fixed;
  z-index: 10;
  right: 10px;
  bottom: 60px;
  left: 10px;
  max-height: calc(100vh - 120px);
  overflow-y: auto;
  padding: 15px 20px;
  border-radius: 10px;
  background-color: var(--primary-darker);
  color: var(--txt-d);
  animation: come-in-up 0.3s var(--bezier);

  & a {
    opacity: 0.9;
    transition: opacity 0.3s;

    &:hover {
      opacity: 1;
      transition: opacity 0.1s;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    right: auto;
    bottom: 25px;
    left: 80px;
    max-width: 290px;
  }
}