.hero {
  position: relative;
  background-color: var(--primary-lighter);
  overflow: hidden;

  &_img {
    position: absolute;
    top: 0;
    left: 50%;
    width: 150%;
    min-width: 1024px;
    aspect-ratio: 1;
    transform: translate3d(-50%, 0, 0);
    opacity: 0.1;
    pointer-events: none;

    &::before {
      content: '';
      display: block;
      height: 100%;
      background-image: url('/assets/images/map-o.png');
      background-size: contain;
      animation: rotate 600s linear infinite;
    }
  }

  &_item {
    &_ttl, &_icon {
      transition: color 0.3s;
    }
  
    &:hover > &_ttl, &:hover > &_icon {
      color: var(--primary-h);
      transition: color 0.1s;
    }
  }
}