.sidetabs {
  display: flex;
  flex-direction: column;
  height: 100%;

  &_left {
    padding: 15px;
    border-bottom: solid 1px var(--primary-lighter);
    white-space: nowrap;
    overflow-x: auto;
  }

  &_right {
    flex-grow: 1;
  }

  &_btn {
    font-size: 1.4rem;
    font-weight: 400;
    min-height: 36px;
    padding: 7px 15px;
    border-radius: 7px;
    text-align: left;
    transition: background-color 0.3s var(--bezier), color 0.3s var(--bezier);

    &:hover {
      background-color: var(--primary-lighter);
      transition: background-color 0.1s var(--bezier);
    }

    &.active {
      background-color: var(--primary-dark);
      color: var(--txt-d);
      transition: background-color 0.3s var(--bezier), color 0.3s var(--bezier);
    }
  }
}

.w1024 .sidetabs {
  height: calc(100vh - 72px);
  flex-direction: row;

  &_left {
    width: 220px;
    flex-shrink: 0;
    border-bottom: none;
    border-right: solid 1px var(--primary-lighter);
    white-space: initial;
    overflow-x: visible;
    overflow-y: auto;
  }

  &_right {
    overflow-y: auto;
  }

  &_btn {
    width: 100%;
    margin-bottom: 2px;

    &.active {
      position: sticky;
      bottom: 0;
    }

    &-sub {
      padding-left: 30px;
      font-size: 13px;
    }
  }
}