.spinner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 22px;
  aspect-ratio: 1/0.125;

  &_part {
    border-radius: 6.25% 6.25% 6.25% 6.25% / 50% 50% 50% 50%;
    width: 100%;
    height: 100%;
    background-color: var(--grey02);

    &,
    &::before {
      display: block;
      transition: background-color 0.3s;
    }

    &::before {
      content: "";
      border-radius: 20% 20% 20% 20% / 50% 50% 50% 50%;
      width: 31.25%;
      height: 100%;
      background-color: var(--primary-h);
      animation: light-move 1s var(--bezier) infinite;
    }
  }
}

.spinner.white .spinner_part {
  background-color: hsla(0, 0%, 100%, 0.2);

  &::before { background-color: #fff; }
}

@keyframes light-move {
  0%,
  100% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(220%, 0, 0);
  }
}
