/*
 * BEFORE MODIFYING THIS DOCUMENT READ THIS DOCUMENTATION CAREFULLY:
 *
 * https://cssguidelin.es/
 *
 * What differs from the guideline:
 *
 * - Indentations are 2px
 * - Columns are 120px wide
 * - don't use [] in html inside class="" for grouping
 * - in html class="" don't use 2 space between classes, but put the related ones next to each other
 * - low level commenting is not necessary but u can use, just try to explain the things u think is important
 *
 */





/*
 * LAYOUT RULES
 *
 *  0) TOP LEVEL
 *
 *  1) HEADER
 *
 *  2) CONTENT
 *
 *  3) FOOTER
 *
 *  4) WRAPPERS
 *
 *  5) MISCELLANEOUS
 *
 */




/*------------*\
   #TOP LEVEL
\*------------*/



.main-wrapper {
  min-height: -webkit-calc(100% - 130px);
  min-height:         calc(100% - 130px);
}

@media (min-width: 400px) {
  .main-wrapper {
    min-height: -webkit-calc(100% - 110px);
    min-height:         calc(100% - 110px);
  }
}


.notification {
  font-size: 1.6rem;
  padding: .5rem 0;
  text-align: center;
  background-color: rgba(255, 220, 150, 0.5);
}

.browsehappy {
  display: none;
}

.no-csstransitions .browsehappy {
  display: block;
}

.no-js .browsehappy {
  display: none;
}





/*----------*\
   #HEADER
\*----------*/



.aa_head {
  position: relative;
  z-index: 3;
  padding: 0 20px;
}

  .aa_head_info {
    line-height: 4rem;
  }

  .aa_head_logo {
    margin: 20px auto 40px;
    max-width: 800px;
  }

    .aa_head_logo_img {
      width: 100%;
      height: auto;
    }

  .aa_head_nav {
    padding-bottom: 10px;
    border-top: solid 1px rgba(130,130,130,.2);
    text-align: center;
  }

    .aa_head_nav a {
      display: block;
    }

    .aa_head_nav a.active {
      font-weight: 400;
    }

    .aa_head_nav ul {
      margin: 0;
    }

      .aa_head_nav ul li {
        margin: 0;
        font-size: 1.6rem;
        line-height: 2;
        list-style-type: none;
      }

      .aa_head_nav_elem {
        position: relative;
      }

        .aa_head_nav_elem > label {
          cursor: pointer;
        }

        .aa_head_nav_elem > input {
          display: none;
        }

        .aa_head_nav_elem_btn {
          position: relative;
          display: block;
          margin: 0 auto;
          width:  10px;
          height: 10px;
        }

          .aa_head_nav_elem_btn:before, .aa_head_nav_elem_btn:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            left:  0;
            height: 1px;
            background-color: #222;
            transition: transform .2s;
          }

          .aa_head_nav_elem_btn:before {
            -webkit-transform: translate3d(-40%,0,0) rotate(35deg);
                    transform: translate3d(-40%,0,0) rotate(35deg);
          }

          .aa_head_nav_elem_btn:after {
            -webkit-transform: translate3d(40%,0,0) rotate(-35deg);
                    transform: translate3d(40%,0,0) rotate(-35deg);
          }

          input:checked + .aa_head_nav_elem_btn:before {
            -webkit-transform: translate3d(0,0,0) rotate(45deg);
                    transform: translate3d(0,0,0) rotate(45deg);
          }

          input:checked + .aa_head_nav_elem_btn:after {
            -webkit-transform: translate3d(0,0,0) rotate(-45deg);
                    transform: translate3d(0,0,0) rotate(-45deg);
          }

        .aa_head_nav_elem_sub {
          position: absolute;
          top: 100%;
          right: 0;
          left:  0;
          margin: 0;
          padding: 10px 0;
          background-color: #fafafa;
          opacity: 0;
          pointer-events: none;
          transition: .4s;
          -webkit-transform: translate3d(0,30px,0);
                  transform: translate3d(0,30px,0);
        }

        input:checked ~ .aa_head_nav_elem_sub {
          pointer-events: auto;
          opacity: 1;
          -webkit-transform: translate3d(0,10px,0);
                  transform: translate3d(0,10px,0);
        }

@media (min-width: 768px) {
  .aa_head_nav_elem > label, .aa_head_nav_elem_btn {
    display: none;
  }

  .aa_head_nav_elem_sub, input:checked ~ .aa_head_nav_elem_sub {
    position: relative;
    top: 0;
    padding: 0;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    transition: 0s;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

    .aa_head_nav_elem_sub > li {
      display: inline-block;
      vertical-align: top;
      padding: 0 25px;
    }

    .aa_head_nav_elem_sub > li:hover {
      background-color: #fafafa;
    }
}





/*-----------*\
   #CONTENT
\*-----------*/



.aa {
  position: relative;
  z-index: 1;
}





/*----------*\
   #FOOTER
\*----------*/



.footer {
  margin-top: 10px;
  padding: 10px 10px 50px;
  font-size: 14px; /* it shouldn't change thus the px */
  text-align: center;
}





/*------------*\
   #WRAPPERS
\*------------*/



.container-resp {
  margin: 0 auto;
  max-width: 1024px;
}

@media only screen and (min-width: 1224px) {
  .container-resp {
    margin: 0 100px;
    max-width: none;
  }
}

@media only screen and (min-width: 1740px) {
  .container-resp {
    margin: 0 auto;
    max-width: 1540px;
  }
}





/*----------------*\
   #MISCELLANEOUS
\*----------------*/



