/*
 * BEFORE MODIFYING THIS DOCUMENT READ THIS DOCUMENTATION CAREFULLY:
 *
 * https://cssguidelin.es/
 *
 * What differs from the guideline:
 *
 * - Indentations are 2px
 * - Columns are 120px wide
 * - don't use [] in html inside class="" for grouping
 * - in html class="" don't use 2 space between classes, but put the related ones next to each other
 * - low level commenting is not necessary but u can use, just try to explain the things u think is important
 *
 */





/*
 * LAYOUT RULES
 *
 *  0) TOP LEVEL
 *
 *  1) HEADER
 *
 *  2) CONTENT
 *
 *  3) FOOTER
 *
 *  4) WRAPPERS
 *
 *  5) CAROUSEL
 *
 *  6) MISCELLANEOUS
 *
 */




/*------------*\
   #TOP LEVEL
\*------------*/



.main-wrapper {
  min-height: -webkit-calc(100% - 130px);
  min-height:         calc(100% - 130px);
}

@media (min-width: 400px) {
  .main-wrapper {
    min-height: -webkit-calc(100% - 110px);
    min-height:         calc(100% - 110px);
  }
}


.notification {
  font-size: 1.6rem;
  padding: .5rem 0;
  text-align: center;
  background-color: rgba(255, 220, 150, 0.5);
}

.browsehappy {
  display: none;
}

.no-csstransitions .browsehappy {
  display: block;
}

.no-js .browsehappy {
  display: none;
}





/*----------*\
   #HEADER
\*----------*/



.aa_head {
  position: relative;
  z-index: 3;
}

  .aa_head_info {
    padding: 9px 0;
  }

  .aa_head_logo {
    margin: 0 auto;
    max-width: 160px;
  }

    .aa_head_logo_img {
      display: none;
      width: 100%;
      height: auto;
    }

    .aa_head_logo_img-s {
      display: block;
    }

  .aa_head_nav {
    padding-bottom: 10px;
    border-top: solid 1px rgba(130,130,130,.2);
    text-align: center;
  }

    .aa_head_nav a {
      display: block;
    }

    .aa_head_nav a.active {
      font-weight: 400;
    }

    .aa_head_nav ul {
      margin: 0;
    }

      .aa_head_nav ul li {
        margin: 0;
        font-size: 1.6rem;
        line-height: 2;
        list-style-type: none;
      }

      .aa_head_nav_elem {
        position: relative;
      }

        .aa_head_nav_elem > label {
          cursor: pointer;
        }

        .aa_head_nav_elem > input {
          display: none;
        }

        .aa_head_nav_elem_btn {
          position: relative;
          display: block;
          margin: 0 auto;
          width:  10px;
          height: 10px;
        }

          .aa_head_nav_elem_btn:before, .aa_head_nav_elem_btn:after {
            content: '';
            position: absolute;
            top: 50%;
            right: 0;
            left:  0;
            height: 1px;
            background-color: #222;
            transition: transform .2s;
          }

          .aa_head_nav_elem_btn:before {
            -webkit-transform: translate3d(-40%,0,0) rotate(35deg);
                    transform: translate3d(-40%,0,0) rotate(35deg);
          }

          .aa_head_nav_elem_btn:after {
            -webkit-transform: translate3d(40%,0,0) rotate(-35deg);
                    transform: translate3d(40%,0,0) rotate(-35deg);
          }

          input:checked + .aa_head_nav_elem_btn:before {
            -webkit-transform: translate3d(0,0,0) rotate(45deg);
                    transform: translate3d(0,0,0) rotate(45deg);
          }

          input:checked + .aa_head_nav_elem_btn:after {
            -webkit-transform: translate3d(0,0,0) rotate(-45deg);
                    transform: translate3d(0,0,0) rotate(-45deg);
          }

        .aa_head_nav_elem_sub {
          position: absolute;
          top: 100%;
          right: 0;
          left:  0;
          margin: 0;
          padding: 13px 0;
          background-color: #fafafa;
          opacity: 0;
          pointer-events: none;
          transition: .4s;
          -webkit-transform: translate3d(0,30px,0);
                  transform: translate3d(0,30px,0);
        }

        input:checked ~ .aa_head_nav_elem_sub {
          pointer-events: auto;
          opacity: 1;
          -webkit-transform: translate3d(0,10px,0);
                  transform: translate3d(0,10px,0);
        }

@media (min-width: 768px) {
  .aa_head_logo {
    margin: 20px auto 40px;
    max-width: 800px;
  }

  .aa_head_logo_img {
    display: block;
  }

  .aa_head_logo_img-s {
    display: none;
  }

  .aa_head_nav {
    padding-bottom: 30px;
  }

  .aa_head_nav_elem > label, .aa_head_nav_elem_btn {
    display: none;
  }

  .aa_head_nav_elem_sub, input:checked ~ .aa_head_nav_elem_sub {
    position: relative;
    top: 0;
    padding: 0;
    background-color: transparent;
    opacity: 1;
    pointer-events: auto;
    transition: 0s;
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

    .aa_head_nav_elem_sub > li {
      display: inline-block;
      vertical-align: top;
      padding: 0 25px;
    }

    .aa_head_nav_elem_sub > li:hover {
      background-color: #fafafa;
    }
}





/*-----------*\
   #CONTENT
\*-----------*/



.aa {
  position: relative;
  z-index: 1;
}

  .aa_content a {
    text-decoration: underline;
  }

  .aa_card {
    margin: 20px 0;
    border: solid 1px rgba(130,130,130,.2);
    border-radius: 5px;
  }

  .aa_card-fill {
    background-color: #fafafa;
  }

  .aa_card-list {
    font-size: 1.6rem;
  }

    .aa_card-list > h4 {
      margin: 0;
      padding: 7px 10px;
      background-color: #fafafa;
      border-radius: 5px 5px 0 0;
    }

    .aa_card-list > ul {
      margin:  10px;
    }

      .aa_card-list ul li {
        margin:  0;
        padding: 7px 10px;
        border-top: solid 1px rgba(130,130,130,.2);
        list-style-type: none;
      }

      .aa_card-list ul li:hover {
        background-color: #fafafa;
      }

      .aa_card-list ul a {
        display: block;
      }

@media (min-width: 768px) {
  .aa_content {
    float: left;
    width: 65%;
    margin-right: 40px;
  }

  .aa_card-s {
    float: left;
    width: 25%;
    margin-right: 20px;
  }
}



.aa_features {
  position: relative;
  padding: 20px 0;
  text-shadow: 0 1px rgba(0,0,0,.5);
  color: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  background-image: url('../images/carousel/bg_grey.jpg');
}

.touchevents .aa_features {
  background-attachment: initial;
}

  .aa_features:before {
    content: '';
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background: linear-gradient(to bottom, hsla(210,40%,30%,.7), hsla(240,40%,40%,.7));
  }

  .aa_features_elem {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 25px 0 20px;
    box-shadow: 0 21px 0 -20px rgba(255,255,255,.5);
  }

  .aa_features_elem:last-child {
    box-shadow: none;
  }

    .aa_features_elem > i {
      font-size: 6rem;
    }

    .aa_features_elem > p {
      margin: 0;
    }

@media (min-width: 390px) {
  .aa_features_elem {
    width: 390px;
  }
}

@media (min-width: 768px) {
  .aa_features_elem {
    width: 33.33337%;
    max-width: 390px;
    padding: 25px 20px 30px;
    box-shadow: none;
  }
}



.aa_message {
  background-color: #c5dce0;
}

  .aa_message_icon {
    height: 1px;
    margin: 50px 20px 30px;
    background-color: rgba(130,130,130,.5);
  }

    .aa_message_icon > .fa {
      margin-top: -2rem;
      padding: 0 20px;
      font-size: 4rem;
      background-color: #c5dce0;
    }



.aa_bottom {
  position: fixed;
  z-index: 5;
  right:  0;
  bottom: 0;
  left:   0;
  background-color: #fff;
  box-shadow: 0 -1px rgba(130,130,130,.2);
}

@supports (-webkit-backdrop-filter: blur(1px)) {
  .aa_bottom {
    background-color: rgba(255,255,255,.65);
    -webkit-backdrop-filter: blur(20px)
  }
}

  .aa_bottom_elem {
    display: inline-block;
    vertical-align: top;
    width: 33.33337%;
    padding: 8px 0 5px;
    font-size: 1.2rem;
  }

    .aa_bottom_elem > i {
      font-size: 2rem;
    }

@media (min-width: 768px) {
  .aa_bottom {
    display: none;
  }
}





/*----------*\
   #FOOTER
\*----------*/



.footer {
  margin-top: 10px;
  padding: 20px 10px 70px;
  font-size: 14px; /* it shouldn't change thus the px */
  text-align: center;
}

@media (min-width: 768px) {
  .footer {
    padding: 20px 10px 40px;
  }
}





/*------------*\
   #WRAPPERS
\*------------*/



.container-resp {
  margin: 0 auto;
  max-width: 1024px;
}

@media only screen and (min-width: 1224px) {
  .container-resp {
    margin: 0 100px;
    max-width: none;
  }
}

@media only screen and (min-width: 1740px) {
  .container-resp {
    margin: 0 auto;
    max-width: 1540px;
  }
}





/*-----------*\
   #CAROUSEL
\*-----------*/



.aa_crsl {
  position: relative;
  height: 400px;
  background-color: #fafafa;
  text-align: center;
}

  .aa_crsl:after {
    content: '';
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background: linear-gradient(to bottom, hsla(180,40%,30%,.7), hsla(210,40%,40%,.7));
  }

  .aa_crsl_elem {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    opacity: 0;
    transition: opacity .5s ease-in-out;
  }

  .aa_crsl_elem.active {
    opacity: 1;
  }

    .aa_crsl_elem_media {
      height: 100%;
    }

    .aa_crsl_elem_ttl {
      position: absolute;
      z-index: 1;
      top:  50%;
      left: 50%;
      width: 90%;
      max-width: 1024px;
      margin: 0;
      font-size: 3.6rem;
      text-shadow: 0 1px rgba(0,0,0,.5);
      text-transform: uppercase;
      color: #fff;
      opacity: 0;
      transition: transform .5s ease-in-out, opacity .5s ease-in-out;
      -webkit-transform: translate3d(-50%,-40%,0);
              transform: translate3d(-50%,-40%,0);
    }

    .active > .aa_crsl_elem_ttl {
      opacity: 1;
      transition-delay: .5s;
      -webkit-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
    }

@media (min-width: 768px) {
  .aa_crsl_elem_ttl {
    font-size: 4.6rem;
  }
}



/*----------------*\
   #MISCELLANEOUS
\*----------------*/



.aa_underline:hover {
  text-decoration: underline;
}

.aa_divider {
  height: 1px;
  background-color: rgba(130,130,130,1);
}