/*
 * BEFORE MODIFYING THIS DOCUMENT READ THIS DOCUMENTATION:
 *
 * http://cssguidelin.es/
 *
 * What differs from the guideline:
 *
 * - Indentations are 2px
 * - Columns are 120px wide
 * - Don't use [] in html inside class="" for grouping
 * - In html class="" don't use 2 space between classes, but put the related ones next to each other
 * - Low level commenting is not necessary but u can use, just try to explain the things u think is important
 *
 */

/*
 * RULES
 *
 *  1) GLOBAL
 *
 *  2) LAYOUT
 *
 */





/*---------*\
   #GLOBAL
\*---------*/



html, body {
  height: 100%;
}

body {
  font-size: 1.6rem;
}





/*----------*\
   #LAYOUT
\*----------*/



.aap_start {
  font-family: 'Roboto Condensed', sans-serif;
  position: absolute;
  top:    0;
  right:  0;
  bottom: 0;
  left:   0;
  color: #fff;
  background: linear-gradient(to top, #07f 0%, #0af 100%);
}

  .aap_start__title {
    margin-top: 4rem;
    padding: 0 10px;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    text-align: center;
  }

  .aap_start__stage {
    position: absolute;
    top:    90px;
    right:   0;
    bottom: 30px;
    left:    0;
  }

    .aap_start__stage:before, .aap_start__stage:after {
      position: absolute;
      top: 40%;
      font-size: 1.2rem;
      transition: .3s ease-in-out;
      -webkit-transform: translate3d(0,-50%,0);
              transform: translate3d(0,-50%,0);
    }

    .aap_start__stage.end:before, .aap_start__stage.end:after {
      opacity: 0;
    }

    .aap_start__stage:before {
      content: 'no';
      left: 10px;
    }

    .aap_start__stage:after {
      content: 'yes';
      right: 10px;
    }

    .aap_start__stage__elem {
      position: absolute;
      top:  40%;
      left: 50%;
      padding: 15px 20px;
      border-radius: 33px;
      font-size: 3.6rem;
      font-weight: 700;
      line-height: 1;
      white-space: nowrap;
      text-transform: uppercase;
      opacity: 0;
      transition: .3s ease-in-out;
      -webkit-transform: translate3d(-50%,200%,0) scale(.5);
              transform: translate3d(-50%,200%,0) scale(.5);
    }

    .aap_start__stage__elem.active {
      opacity: 1;
      -webkit-transform: translate3d(-50%,-50%,0) scale(1);
              transform: translate3d(-50%,-50%,0) scale(1);
    }

    .aap_start__stage__elem.prepare {
      opacity: .5;
      transition-delay: .1s;
      -webkit-transform: translate3d(-50%,50%,0) scale(.5);
              transform: translate3d(-50%,50%,0) scale(.5);
    }

    .aap_start__stage__elem.prepare ~ .aap_start__stage__elem.prepare {
      opacity: .25;
      transition-delay: .2s;
      -webkit-transform: translate3d(-50%,110%,0) scale(.5);
              transform: translate3d(-50%,110%,0) scale(.5);
    }

    .aap_start__stage__elem.yes {
      opacity: 1;
      box-shadow: 0 0 0 2px #0f7;
      -webkit-transform: translate3d(-50%,-210%,0) scale(.4);
              transform: translate3d(-50%,-210%,0) scale(.4);
    }

    .aap_start__stage__elem.no {
      opacity: .4;
      box-shadow: 0 0 0 2px rgba(255,255,255,.5);
      -webkit-transform: translate3d(-50%,210%,0) scale(.4);
              transform: translate3d(-50%,210%,0) scale(.4);
    }

      .aap_start__stage__elem:before {
        content: '';
        position: absolute;
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
        border-radius: inherit;
        box-shadow: inset 0 0 30px #07f;
        opacity: 0;
        transition: .3s ease-in-out;
        -webkit-transform: translate3d(0,0,0);
                transform: translate3d(0,0,0);
      }

      .aap_start__stage__elem.active:before {
        opacity: 1;
      }

  .aap_start__end {
    position: absolute;
    top:   50%;
    right:  0;
    left:   0;
    padding: 0 10px;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: .5s ease-in-out;
    -webkit-transform: translate3d(0,-50%,0);
            transform: translate3d(0,-50%,0);
  }

  .end + .aap_start__end {
    opacity: 1;
    pointer-events: auto;
  }

    .aap_start__end__text {
      font-size: 3rem;
      font-weight: 300;
    }

    .aap_start__end__btn {
      display: inline-block;
      padding: 2px 10px;
      border-radius: 3px;
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      color: #07f;
      box-shadow: 1px 2px 3px rgba(0,0,0,.25);
      background-color: #fff;
    }