* {
  box-sizing: border-box;
}

/* Forms
   ========================================================================== */

/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */

button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/**
  * Address inconsistent `text-transform` inheritance for `button` and `select`.
  * All other form control elements do not inherit `text-transform` values.
  * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
  * Correct `select` style inheritance in Firefox.
  */

button,
select {
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  text-transform: none;
}

option {
  color: initial;
}

/**
  * Address `overflow` set to `hidden` in IE 8/9/10/11.
  */

button {
  overflow: visible;
  align-items: center;
  transition: background-color 0.3s;
}

/**
  * Address Firefox 4+ setting `line-height` on `input` using `!important` in
  * the UA stylesheet.
  */

input {
  line-height: normal;
}

input,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote,
[contenteditable],
.text_selectable {
  /* enable text selection */
  -webkit-user-select: text;
  user-select: text;
  cursor: text;
}

button,
input[type="text"],
input[type="submit"],
textarea {
  -webkit-appearance: none; /* prevent to change the look in webkit browsers to the default */
}

/**
  * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
  *    and `video` controls.
  * 2. Correct the inability to style clickable `input` types in iOS.
  */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

/**
  * Remove inner padding and border in Firefox 4+.
  */

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
  * Re-set default cursor for disabled elements.
  */

button[disabled],
input[disabled] {
  cursor: default;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

/**
  * It"s recommended that you don"t attempt to style these elements.
  * Firefox"s implementation doesn"t respect box-sizing, padding, or width.
  *
  * 1. Address box sizing set to `content-box` in IE 8/9/10.
  * 2. Remove excess padding in IE 8/9/10.
  */

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
  * Fix the cursor style for Chrome"s increment/decrement buttons. For certain
  * `font-size` values of the `input`, it causes the cursor style of the
  * decrement button to change from `default` to `text`.
  */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
  * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
  * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
  *    (include `-moz` to future-proof).
  */

input[type="search"] {
  -webkit-box-sizing: content-box;
  -webkit-appearance: none;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

/**
  * Remove inner padding and search cancel button in Safari and Chrome on OS X.
  * Safari (but not Chrome) clips the cancel button when the search input has
  * padding (and `textfield` appearance).
  */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* Links
   ========================================================================== */

/**
 * Remove the gray background color from active links in IE 10.
 */

a {
  background-color: transparent;
  color: var(--primary);
  text-decoration: none;
  transition: color 0.3s;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
  outline: 0;
}

a:focus,
a:hover {
  text-decoration: none;
  color: var(--primary-h);
}

a.noformat {
  color: inherit;

  &:hover, &:focus {
    color: inherit;
  }
}

a[disabled] {
  cursor: default;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
  display: none;
  height: 0;
}

input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 5px;
  background-color: var(--grey01);
  border-radius: 5px;
}

.base--11 { font-size: 68.75%; /* setting default font size to 11px */ }
.base--12 { font-size: 75%; /* setting default font size to 12px */ }
.base--13 { font-size: 81.25%; /* setting default font size to 13px */ }

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-family: sans-serif; /* 1 */
  font-size: 62.5%; /* setting default font size to 10px */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* prevent highlight on tap */
  scrollbar-color: var(--light-grey) transparent;
}

html.dark {
  scrollbar-color: var(--grey) transparent;
}

body {
  font-family: "OpenSans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.5;
  color: var(--txt);
  background-color: var(--bg);
  margin: 0;
  transition:
    background-color 0.3s,
    box-shadow 0.3s,
    color 0.3s;
  overflow-x: hidden;
  width: 100vw;

  /* Prevent user selection */
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

.dark body {
  color: var(--txt-d);
  background-color: var(--bg-d);
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  line-height: 1.25;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  color: var(--primary);
}

h1,
.h1 { font-size: 2.8rem; }

h2,
.h2 { font-size: 2.4rem; }

h3,
.h3 { font-size: 2rem; }

h4,
.h4 { font-size: 1.8rem; }

h5,
.h5 { font-size: 1.6rem; }

h6,
.h6 { font-size: 1.4rem; }

p {
  margin: 0 0 1rem;
}

ul,
ol {
  margin: 0 0 0 2em;
  padding: 0;
}

li {
  position: relative;
  margin: 0 0 0.5em;
}

blockquote {
  font-style: italic;
  border-left: solid 5px var(--grey03);
  padding: 0.5em 0 0.5em 1em;
  margin: 0 0 1em 1em;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */

svg:not(:root) {
  overflow: hidden;
}

img {
  -webkit-user-drag: none;
}

.text_not_selectable {
  -webkit-user-select: none;
  user-select: none;
  cursor: default;
}

/**
 * Mobile
 */

.w480 {
  h1,
  .h1 { font-size: 3.4rem; }

  h2,
  .h2 { font-size: 2.8rem; }

  h3,
  .h3 { font-size: 2.2rem; }

  h4,
  .h4 { font-size: 1.8rem; }

  h5,
  .h5 { font-size: 1.6rem; }

  h6,
  .h6 { font-size: 1.4rem; }
}

/**
 * Tablet
 */

.w768 {
  h1,
  .h1 { font-size: 3.8rem; }

  h2,
  .h2 { font-size: 3.2rem; }

  h3,
  .h3 { font-size: 2.4rem; }

  h4,
  .h4 { font-size: 2.1rem; }

  h5,
  .h5 { font-size: 1.8rem; }

  h6,
  .h6 { font-size: 1.4rem; }
}

/**
 * Desktop
 */

.w1024 {
  h1,
  .h1 { font-size: 4.2rem; }

  h2,
  .h2 { font-size: 3.6rem; }

  h3,
  .h3 { font-size: 2.8rem; }

  h4,
  .h4 { font-size: 2.4rem; }

  h5,
  .h5 { font-size: 2rem; }

  h6,
  .h6 { font-size: 1.6rem; }
}

input, select, textarea {
  border-radius: 5px;
  outline: none;
  border: solid 1px var(--primary-lighter);
  appearance: none;
  background-color: var(--primary-lightest);
  padding: 9px 12px;
  font-family: sans-serif;
  line-height: 1.2;
  transition: border 0.2s;

  &.grey {
    border: solid 1px var(--grey03);
    background-color: transparent;
  }

  &.blank {
    border: none;
    background-color: transparent;
  }

  &:hover:not([disabled]) {
    border: solid 1px var(--primary-light);

    &.grey {
      border: solid 1px var(--grey05);
    }

    &.blank {
      border: none;
    }
  }

  &:focus:not([disabled]) {
    border: solid 1px var(--primary);

    &.grey {
      border: solid 1px var(--primary);
    }

    &.blank {
      border: none;
    }
  }

  &[disabled] {
    background-color: var(--grey01);
    color: var(--grey);
  }
}
