:root {
  --hue: 220;
  --txt: #000;
  --txt-d: #eee;
  --bg: #fff;
  --bg0: hsla(0, 0%, 100%, 0);
  --bg075: hsla(0, 0%, 100%, 0.75);
  --bg-d: hsl(var(--hue), 36%, 5%);
  --bg-d0: hsla(253, 36%, 5%, 0);
  --bg-d075: hsla(253, 36%, 5%, 0.75);
  --primary: hsl(var(--hue), 70%, 45%);
  --primary-h: hsl(var(--hue), 100%, 50%);
  --primary-light: hsla(var(--hue), 100%, 75%, 0.5);
  --primary-lighten: hsla(var(--hue), 100%, 75%, 0.35);
  --primary-lighter: hsla(var(--hue), 95%, 78%, 0.22);
  --primary-lightest: hsla(var(--hue), 95%, 80%, 0.12);
  --primary-dark: hsl(var(--hue), 60%, 30%);
  --primary-darker: hsl(var(--hue), 50%, 15%);
  --secondary: hsl(190, 100%, 50%);
  --grey: hsl(0, 0%, 50%);
  --grey-h: hsl(0, 0%, 60%);
  --grey005: hsla(0, 0%, 75%, 0.1);
  --grey01: hsla(0, 0%, 75%, 0.15);
  --grey02: hsla(0, 0%, 75%, 0.3);
  --grey03: hsla(0, 0%, 75%, 0.45);
  --grey05: hsla(0, 0%, 75%, 0.75);
  --grey07: hsla(0, 0%, 50%, 0.7);
  --light-grey: hsl(0, 0%, 75%);
  --red: hsl(340, 75%, 50%);
  --red-h: hsl(340, 100%, 55%);
  --red01: hsla(340, 75%, 50%, 0.1);
  --orange: hsl(35, 85%, 55%);
  --green: hsl(85, 85%, 40%);
  --green02: hsla(85, 85%, 40%, 0.2);
  --green-h: hsl(85, 90%, 42%);
  --blue: var(--primary);
  --blue02: hsla(var(--hue), 70%, 45%, 0.2);
  --blue-h: var(--primary-h);
  --bezier: cubic-bezier(0.25, 0.7, 0.4, 1);
  --shadow: 0 5px 15px -4px hsla(var(--hue), 100%, 35%, 0.35);
  --shadow-red: 0 5px 15px -4px hsla(340, 100%, 35%, 0.35);
  --shadow-green: 0 5px 15px -4px hsla(85, 100%, 35%, 0.35);
  --shadow-grey: 0 5px 15px -4px hsla(0, 0%, 35%, 0.35);
  --highlight: hsla(60, 100%, 50%, 0.2);

  --insight-l: 0, 100%, 78%;
  --insight-d: 325, 100%;
  --event-l: 40, 100%, 65%;
  --event-d: 310, 100%;
  --news-l: 100, 100%, 78%;
  --news-d: 185, 100%;
  --infographic-l: 20, 100%, 70%;
  --infographic-d: 200, 100%;
  --note-l: 183, 100%, 78%;
  --note-d: 255, 100%;
  --webinar-l: 360, 100%, 78%;
  --webinar-d: 260, 100%;
  
  --gr-insight: hsl(var(--insight-l)), hsl(var(--insight-d), 15%);
  --gr-event: hsl(var(--event-l)), hsl(var(--event-d), 15%);
  --gr-news: hsl(var(--news-l)), hsl(var(--news-d), 15%);
  --gr-infographic: hsl(var(--infographic-l)), hsl(var(--infographic-d), 15%);
  --gr-note: hsl(var(--note-l)), hsl(var(--note-d), 15%);
  --gr-webinar: hsl(var(--webinar-l)), hsl(var(--webinar-d), 15%);  
}
