/*
 * BEFORE MODIFYING THIS DOCUMENT READ THIS DOCUMENTATION:
 *
 * http://cssguidelin.es/
 *
 * What differs from the guideline:
 *
 * - Indentations are 2px
 * - Columns are 120px wide
 * - Don't use [] in html inside class="" for grouping
 * - In html class="" don't use 2 space between classes, but put the related ones next to each other
 * - Low level commenting is not necessary but u can use, just try to explain the things u think is important
 *
 */

/*
 * RULES
 *
 *  1) GLOBAL
 *
 *  2) LAYOUT
 *
 *  3) IPHONE 6
 *
 *  4) IPAD AIR 2
 *
 */





/*---------*\
   #GLOBAL
\*---------*/



html, body {
  height: 100%;
}

body {
  font-size: 1.6rem;
}





/*----------*\
   #LAYOUT
\*----------*/



.temp-wrapper {
  margin: 20px;
}

@media all and (min-width: 480px) {
  .temp-wrapper {
    width: 50%;
    margin: 20px auto;
  }

  .temp-wrapper--wide {
    width: 100%;
  }

  .temp-wrapper--wider {
    width: 100%;
  }
}

@media all and (min-width: 768px) {
  .temp-wrapper {
    width: 33.33337%;
  }

  .temp-wrapper--wide {
    width: 66.66667%;
  }

  .temp-wrapper--wider {
    width: 100%;
  }
}

@media all and (min-width: 1024px) {
  .temp-wrapper {
    width: 25%;
  }

  .temp-wrapper--wide {
    width: 50%;
  }

  .temp-wrapper--wider {
    width: 75%;
  }
}





/*------------*\
   #IPHONE 6
\*------------*/



.p6 {
  position: relative;
  padding: 25% 7%;
}

.p6--ls {
  padding: 3.5% 12.2%;
}

  .p6__body {
    position: absolute;
    top:    0;
    right:  1%;
    bottom: 0;
    left:   1%;
    background: linear-gradient(to top, #b9bbbb 0%, #f4f6f6 100%);
    border-radius: 14%/7%;
    box-shadow: inset 0 0 4px rgba(0,0,0,.5)
  }

  .p6--ls > .p6__body {
    top:    1%;
    right:  0;
    bottom: 1%;
    left:   0;
    border-radius: 7%/14%;
  }

  .p6--grey > .p6__body {
    background: linear-gradient(to top, #707175 0%, #a3a4a9 100%);
  }

  .p6--gold > .p6__body {
    background: linear-gradient(to top, #c4af9a 0%, #fceeda 100%);
  }

    .p6__body:before {
      content: '';
      position: absolute;
      top:     .7%;
      right:  1.4%;
      bottom:  .7%;
      left:   1.4%;
      background-color: #e7e8e8;
      border-radius: 13%/7%;
    }

    .p6--ls > .p6__body:before {
      top:    1.4%;
      right:   .7%;
      bottom: 1.4%;
      left:    .7%;
      border-radius: 7%/13%;
    }

    .p6--grey > .p6__body:before {
      background-color: #373737;
    }

    .p6--gold > .p6__body:before {
      background-color: #e7e8e8;
    }

    .p6__body:after {
      content: '';
      position: absolute;
      top:    1%;
      right:  2.3%;
      bottom: 1%;
      left:   2.3%;
      background-color: #f5f5f5;
      border-radius: 13%/6.5%;
    }

    .p6--ls > .p6__body:after {
      top:    2.3%;
      right:  1%;
      bottom: 2.3%;
      left:   1%;
      border-radius: 6.5%/13%;
    }

    .p6--grey > .p6__body:after {
      background-color: #090808;
    }

    .p6--gold > .p6__body:after {
      background-color: #f5f5f5;
    }

    .p6__body__speaker, .p6__body__camera, .p6__body__sensor {
      position: absolute;
      z-index: 1;
      background-color: #333;
      transform: translate(-50%,-50%);
    }

    .p6__body__speaker {
      top:  6.25%;
      left: 50%;
      width: 16.5%;
      height:  .8%;
      border-radius: 5px;
    }

    .p6--ls .p6__body__speaker {
      top:  50%;
      left: 6.25%;
      width:    .8%;
      height: 16.5%;
    }

    .p6__body__camera {
      top:   6.3%;
      left: 33.9%;
      width:  3.5%;
      height: 1.7%;
      border-radius: 50%;
    }

    .p6--ls .p6__body__camera {
      top:  66.1%;
      left:  6.3%;
      width:  1.7%;
      height: 3.5%;
    }

    .p6__body__sensor {
      top: 3.2%;
      left: 50%;
      width:  2.2%;
      height: 1.1%;
      border-radius: 50%;
    }

    .p6--ls .p6__body__sensor {
      top:  50%;
      left:  3.2%;
      width:  1.1%;
      height: 2.2%;
    }

    .p6__body__mute, .p6__body__up, .p6__body__down, .p6__body__right {
      position: absolute;
      background-color: #b5b8ba;
      box-shadow: inset 0 5px 5px -3px rgba(0,0,0,.5), inset 0 -5px 5px -3px rgba(0,0,0,.5);
      transform: translate(0,-50%);
    }

    .p6--ls .p6__body__mute, .p6--ls .p6__body__up, .p6--ls .p6__body__down, .p6--ls .p6__body__right {
      box-shadow: inset 5px 0 5px -3px rgba(0,0,0,.5), inset -5px 0 5px -3px rgba(0,0,0,.5);
      transform: translate(-50%,0);
    }

    .p6--grey > .p6__body > .p6__body__mute, .p6--grey > .p6__body > .p6__body__up,
    .p6--grey > .p6__body > .p6__body__down, .p6--grey > .p6__body > .p6__body__right {
      background-color: #6a6b71;
    }

    .p6--gold > .p6__body > .p6__body__mute, .p6--gold > .p6__body > .p6__body__up,
    .p6--gold > .p6__body > .p6__body__down, .p6--gold > .p6__body > .p6__body__right {
      background-color: #c8b5a2;
    }

    .p6--ls .p6__body__right {
      background-color: #f4f6f6;
    }

    .p6--grey.p6--ls .p6__body__right {
      background-color: #a3a4a9;
    }

    .p6--gold.p6--ls .p6__body__right {
      background-color: #fceeda;
    }

    .p6__body__mute {
      top: 14.7%;
      left: -.7%;
      width: .7%;
      height: 4%;
      border-radius: 1px 0 0 1px;
    }

    .p6--ls .p6__body__mute {
      top: auto;
      left:  14.7%;
      bottom: -.7%;
      width: 4%;
      height: .7%;
      border-radius: 0 0 1px 1px;
    }

    .p6__body__up, .p6__body__down {
      left: -1%;
      width:  1%;
      height: 7.5%;
      border-radius: 2px 0 0 2px;
    }

    .p6--ls .p6__body__up, .p6--ls .p6__body__down {
      bottom: -1%;
      width:  7.5%;
      height: 1%;
      border-radius: 0 0 2px 2px;
    }

    .p6__body__up {
      top: 25%;
    }

    .p6--ls .p6__body__up {
      top: auto;
      left: 25%;
    }

    .p6__body__down {
      top: 34%;
    }

    .p6--ls .p6__body__down {
      top: auto;
      left: 34%;
    }

    .p6__body__right {
      top:   25%;
      right: -1%;
      width:  1%;
      height: 7.5%;
      border-radius: 0 2px 2px 0;
    }

    .p6--ls .p6__body__right {
      top:  -1%;
      right: auto;
      left: 25%;
      width:  7.5%;
      height: 1%;
      border-radius: 2px 2px 0 0;
    }

    .p6__body__btn {
      position: absolute;
      z-index: 1;
      bottom: 6.5%;
      left:   50%;
      width: 16%;
      height: 7.6%;
      background: linear-gradient(10deg, #222 0%, #f5f5f5 50%, #222 100%);
      border-radius: 50%;
      transform: translate(-50%,50%);
    }

    .p6--ls .p6__body__btn {
      top:    50%;
      right:   6.5%;
      bottom: auto;
      left:   auto;
      width:   7.6%;
      height: 16%;
      transform: translate(50%,-50%);
    }

    .p6--grey > .p6__body > .p6__body__btn {
      background: linear-gradient(10deg, #050708 0%, #46484e 50%, #050708 100%);
    }

    .p6--gold > .p6__body > .p6__body__btn {
      background: linear-gradient(10deg, #432a1d 0%, #fbe8d5 50%, #432a1d 100%);
    }

      .p6__body__btn:before {
        content: '';
        position: absolute;
        top:    5%;
        right:  5%;
        bottom: 5%;
        left:   5%;
        background-color: #ebecec;
        border-radius: 50%;
      }

      .p6--grey > .p6__body > .p6__body__btn:before {
        background-color: #000;
      }

      .p6--gold > .p6__body > .p6__body__btn:before {
        background-color: #ebecec;
      }

  .p6__screen {
    position: relative;
    z-index: 1;
  }

    .p6__screen:before {
      content: '';
      position: absolute;
      z-index: -1;
      top:    -.5%;
      right:  -1%;
      bottom: -.5%;
      left:   -1%;
      background-color: #333;
      border-radius: 2px;
    }

    .p6--ls > .p6__screen:before {
      top:    -1%;
      right:  -.5%;
      bottom: -1%;
      left:   -.5%;
    }

    .p6__screen__ {
      position: relative;
      padding-bottom: 178%;
      background-color: #888;
    }

    .p6--ls .p6__screen__ {
      padding-bottom: 56%;
    }

      .p6__screen__frame {
        position: absolute;
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
        overflow: hidden;
      }

        .p6__screen__frame > .fa {
          position: absolute;
          top:  50%;
          left: 50%;
          font-size: 5em;
          transform: translate(-50%,-50%);
        }





/*--------------*\
   #IPAD AIR 2
\*--------------*/



.pa2 {
  position: relative;
  padding: 12.4% 6.3%;
}

.pa2--ls {
  padding: 4.6% 9%;
}

  .pa2__body {
    position: absolute;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
    background: linear-gradient(to top, #36353a 0%, #e6e8e7 30%, #e6e8e7 70%, #58595d 100%);
    border-radius: 6%/4%;
    overflow: hidden;
  }

  .pa2--ls > .pa2__body {
    border-radius: 4%/6%;
  }

  .pa2--grey > .pa2__body {
    background: linear-gradient(to top, #2d2c31 0%, #6d6d75 30%, #6d6d75 70%, #2f2e33 100%);
  }

  .pa2--rose > .pa2__body {
    background: linear-gradient(to top, #574539 0%, #fce7d4 30%, #fce7d4 70%, #756254 100%);
  }

    .pa2__body:before {
      content: '';
      position: absolute;
      top:    0;
      right:  0;
      bottom: 0;
      left:   0;
      background: linear-gradient(to right, rgba(232,232,232,0) 0%, rgba(232,232,232,1) 30%, rgba(232,232,232,1) 70%, rgba(232,232,232,0) 100%);
    }

    .pa2--grey > .pa2__body:before {
      background: linear-gradient(to right, rgba(177,177,177,0) 0%, rgba(177,177,177,1) 30%, rgba(177,177,177,1) 70%, rgba(177,177,177,0) 100%);
    }

    .pa2--rose > .pa2__body:before {
      background: linear-gradient(to right, rgba(250,231,214,0) 0%, rgba(250,231,214,1) 30%, rgba(250,231,214,1) 70%, rgba(250,231,214,0) 100%);
    }

    .pa2__body:after {
      content: '';
      position: absolute;
      top:    -15%;
      right:   51%;
      bottom: -15%;
      width: 10%;
      background: linear-gradient(to right, rgba(231,231,231,0) 0%, rgba(231,231,231,1) 100%);
      transform: rotate(35deg);
    }

    .pa2--ls .pa2__body:after {
      top:     auto;
      right:  -15%;
      bottom:  51%;
      left:   -15%;
      width: auto;
      height: 10%;
      background: linear-gradient(to bottom, rgba(231,231,231,0) 0%, rgba(231,231,231,1) 100%);
      transform: rotate(-35deg);
    }

    .pa2--grey > .pa2__body:after {
      background: linear-gradient(to right, rgba(214,214,214,0) 0%, rgba(214,214,214,1) 100%);
    }

    .pa2--grey.pa2--ls > .pa2__body:after {
      background: linear-gradient(to bottom, rgba(214,214,214,0) 0%, rgba(214,214,214,1) 100%);
    }

    .pa2--rose > .pa2__body:after {
      background: linear-gradient(to right, rgba(253,243,231,0) 0%, rgba(253,243,231,1) 100%);
    }

    .pa2--rose.pa2--ls > .pa2__body:after {
      background: linear-gradient(to bottom, rgba(253,243,231,0) 0%, rgba(253,243,231,1) 100%);
    }

      .pa2__body__ {
      }

        .pa2__body__:before {
          content: '';
          position: absolute;
          z-index: 1;
          top:    .4%;
          right:  .5%;
          bottom: .4%;
          left:   .5%;
          border-radius: 5.5%/4%;
          background-color: #d4d5d7;
        }

        .pa2--ls .pa2__body__:before {
          top:    .5%;
          right:  .4%;
          bottom: .5%;
          left:   .4%;
          border-radius: 4%/5.5%;
        }

        .pa2--grey .pa2__body__:before {
          background-color: #a3a2a7;
        }

        .pa2--rose .pa2__body__:before {
          background-color: #e9d4c1;
        }

        .pa2__body__:after {
          content: '';
          position: absolute;
          z-index: 1;
          top:    .6%;
          right:  .7%;
          bottom: .6%;
          left:   .7%;
          border-radius: 5.3%/3.8%;
          background-color: #f4f5f7;
        }

        .pa2--ls .pa2__body__:after {
          top:    .7%;
          right:  .6%;
          bottom: .7%;
          left:   .6%;
          border-radius: 3.8%/5.3%;
        }

        .pa2--grey .pa2__body__:after {
          background-color: #000;
        }

        .pa2--rose .pa2__body__:after {
          background-color: #f4f5f7;
        }

      .pa2__body__camera, .pa2__body__sensor {
        position: absolute;
        z-index: 1;
        transform: translate(-50%,-50%);
      }

      .pa2__body__camera {
        top:   4.7%;
        left: 50%;
        width:  1.6%;
        height: 1.1%;
        border-radius: 50%;
        background-color: #333;
      }

      .pa2--ls .pa2__body__camera {
        top: 50%;
        left: 4.7%;
        width:  1.1%;
        height: 1.6%;
      }

      .pa2__body__sensor {
        top:   4.7%;
        left: 47.5%;
        width:  .7%;
        height: .5%;
        border-radius: 50%;
        background-color: rgba(0,0,0,.05);
      }

      .pa2--ls .pa2__body__sensor {
        top:  52.5%;
        left:  4.7%;
        width:  .5%;
        height: .7%;
      }

      .pa2__body__btn {
        position: absolute;
        z-index: 1;
        bottom: 4.2%;
        left:   50%;
        width:  6.3%;
        height: 4.5%;
        background: linear-gradient(10deg, #47484d 0%, #ecedef 40%, #47484d 100%);
        border-radius: 50%;
        transform: translate(-50%,50%);
      }

      .pa2--ls .pa2__body__btn {
        top:    50%;
        right:   4.2%;
        bottom: auto;
        left:   auto;
        width:  4.5%;
        height: 6.3%;
        transform: translate(50%,-50%);
      }

      .pa2--grey > .pa2__body > .pa2__body__btn {
        background: linear-gradient(10deg, #111 0%, #adadb5 40%, #111 100%);
      }

      .pa2--rose > .pa2__body > .pa2__body__btn {
        background: linear-gradient(10deg, #2a1a0d 0%, #fceadc 40%, #2a1a0d 100%);
      }

        .pa2__body__btn:before {
          content: '';
          position: absolute;
          top:    8%;
          right:  8%;
          bottom: 8%;
          left:   8%;
          background-color: #f4f5f7;
          border-radius: 50%;
        }

        .pa2--grey > .pa2__body > .pa2__body__btn:before {
          background-color: #000;
        }

        .pa2--rose > .pa2__body > .pa2__body__btn:before {
          background-color: #f4f5f7;
        }

  .pa2__screen {
    position: relative;
    z-index: 1;
  }

    .pa2__screen:before {
      content: '';
      position: absolute;
      z-index: -1;
      top:    -.3%;
      right:  -.4%;
      bottom: -.3%;
      left:   -.4%;
      background-color: #333;
      border-radius: 2px;
    }

    .pa2--ls > .pa2__screen:before {
      top:    -.4%;
      right:  -.3%;
      bottom: -.4%;
      left:   -.3%;
    }

    .pa2__screen__ {
      position: relative;
      padding-bottom: 133.3%;
      background-color: #888;
    }

    .pa2--ls .pa2__screen__ {
      padding-bottom: 75%;
    }

      .pa2__screen__frame {
        position: absolute;
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
        overflow: hidden;
      }

        .pa2__screen__frame > .fa {
          position: absolute;
          top:  50%;
          left: 50%;
          font-size: 5em;
          transform: translate(-50%,-50%);
        }