/*
 * BEFORE MODIFYING THIS DOCUMENT READ THIS DOCUMENTATION:
 *
 * http://cssguidelin.es/
 *
 * What differs from the guideline:
 *
 * - Indentations are 2px
 * - Columns are 120px wide
 * - Don't use [] in html inside class="" for grouping
 * - In html class="" don't use 2 space between classes, but put the related ones next to each other
 * - Low level commenting is not necessary but u can use, just try to explain the things u think is important
 *
 */

/*
 * RULES
 *
 *  1) GLOBAL
 *
 *  2) LAYOUT
 *
 */





/*---------*\
   #GLOBAL
\*---------*/



html, body {
  height: 100%;
}

body {
  font-size: 1.6rem;
}





/*----------*\
   #LAYOUT
\*----------*/



.temp-wrapper {
  margin: 20px;
}

@media all and (min-width: 480px) {
  .temp-wrapper {
    width: 50%;
    margin: 20px auto;
  }
}

@media all and (min-width: 768px) {
  .temp-wrapper {
    width: 33.33337%;
  }
}

@media all and (min-width: 1024px) {
  .temp-wrapper {
    width: 25%;
  }
}



.p6 {
  position: relative;
  padding: 25% 7%;
}

  .p6__body {
    position: absolute;
    top:    0;
    right:  1%;
    bottom: 0;
    left:   1%;
    background: linear-gradient(to top, #b9bbbb 0%, #f4f6f6 100%);
    border-radius: 14%/7%;
    box-shadow: inset 0 0 4px rgba(0,0,0,.5)
  }

  .p6--grey > .p6__body {
    background: linear-gradient(to top, #707175 0%, #a3a4a9 100%);
  }

  .p6--rose > .p6__body {
    background: linear-gradient(to top, #c4af9a 0%, #fceeda 100%);
  }

    .p6__body:before {
      content: '';
      position: absolute;
      top:     .7%;
      right:  1.4%;
      bottom:  .7%;
      left:   1.4%;
      background-color: #e7e8e8;
      border-radius: 13%/7%;
    }

    .p6--grey > .p6__body:before {
      background-color: #373737;
    }

    .p6--rose > .p6__body:before {
      background-color: #e7e8e8;
    }

    .p6__body:after {
      content: '';
      position: absolute;
      top:    1%;
      right:  2.3%;
      bottom: 1%;
      left:   2.3%;
      background-color: #f5f5f5;
      border-radius: 13%/6.5%;
    }

    .p6--grey > .p6__body:after {
      background-color: #090808;
    }

    .p6--rose > .p6__body:after {
      background-color: #f5f5f5;
    }

    .p6__body__speaker, .p6__body__camera, .p6__body__sensor {
      position: absolute;
      z-index: 1;
      background-color: #333;
      transform: translate(-50%,-50%);
    }

    .p6__body__speaker {
      top:  6.25%;
      left: 50%;
      width: 16.5%;
      height:  .8%;
      border-radius: 5px;
    }

    .p6__body__camera {
      top:   6.3%;
      left: 33.9%;
      width:  3.5%;
      height: 1.7%;
      border-radius: 50%;
    }

    .p6__body__sensor {
      top: 3.2%;
      left: 50%;
      width:  2.2%;
      height: 1.1%;
      border-radius: 50%;
    }

    .p6__body__mute, .p6__body__up, .p6__body__down, .p6__body__right {
      position: absolute;
      background-color: #b5b8ba;
      box-shadow: inset 0 5px 5px -3px rgba(0,0,0,.5), inset 0 -5px 5px -3px rgba(0,0,0,.5);
      transform: translate(0,-50%);
    }

    .p6--grey > .p6__body > .p6__body__mute, .p6--grey > .p6__body > .p6__body__up,
    .p6--grey > .p6__body > .p6__body__down, .p6--grey > .p6__body > .p6__body__right {
      background-color: #6a6b71;
    }

    .p6--rose > .p6__body > .p6__body__mute, .p6--rose > .p6__body > .p6__body__up,
    .p6--rose > .p6__body > .p6__body__down, .p6--rose > .p6__body > .p6__body__right {
      background-color: #c8b5a2;
    }

    .p6__body__mute {
      top: 14.7%;
      left: -.7%;
      width: .7%;
      height: 4%;
      border-radius: 1px 0 0 1px;
    }

    .p6__body__up, .p6__body__down {
      left: -1%;
      width:  1%;
      height: 7.5%;
      border-radius: 2px 0 0 2px;
    }

    .p6__body__up {
      top:  25%;
    }

    .p6__body__down {
      top: 34%;
    }

    .p6__body__right {
      top:   25%;
      right: -1%;
      width:  1%;
      height: 7.5%;
      border-radius: 0 2px 2px 0;
    }

    .p6__body__btn {
      position: absolute;
      z-index: 1;
      bottom: 6.5%;
      left:   50%;
      width: 16%;
      height: 7.6%;
      background: linear-gradient(10deg, #222 0%, #f5f5f5 50%, #222 100%);
      border-radius: 50%;
      transform: translate(-50%,50%);
    }

    .p6--grey > .p6__body > .p6__body__btn {
      background: linear-gradient(10deg, #050708 0%, #46484e 50%, #050708 100%);
    }

    .p6--rose > .p6__body > .p6__body__btn {
      background: linear-gradient(10deg, #432a1d 0%, #fbe8d5 50%, #432a1d 100%);
    }

      .p6__body__btn:before {
        content: '';
        position: absolute;
        top:    5%;
        right:  5%;
        bottom: 5%;
        left:   5%;
        background-color: #ebecec;
        border-radius: 50%;
      }

      .p6--grey > .p6__body > .p6__body__btn:before {
        background-color: #000;
      }

      .p6--rose > .p6__body > .p6__body__btn:before {
        background-color: #ebecec;
      }

  .p6__screen {
    position: relative;
    z-index: 1;
  }

    .p6__screen:before {
      content: '';
      position: absolute;
      z-index: -1;
      top:    -.5%;
      right:  -1%;
      bottom: -.5%;
      left:   -1%;
      background-color: #333;
      border-radius: 2px;
    }

    .p6__screen__ {
      position: relative;
      padding-bottom: 178%;
      background-color: #888;
    }

      .p6__screen__frame {
        position: absolute;
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
        overflow: hidden;
      }

        .p6__screen__frame > .fa {
          position: absolute;
          top:  50%;
          left: 50%;
          font-size: 5em;
          transform: translate(-50%,-50%);
        }



