/*
 * BEFORE MODIFYING THIS DOCUMENT READ THIS DOCUMENTATION:
 *
 * http://cssguidelin.es/
 *
 * What differs from the guideline:
 *
 * - Indentations are 2px
 * - Columns are 120px wide
 * - don't use [] in html inside class="" for grouping
 * - in html class="" don't use 2 space between classes, but put the related ones next to each other
 * - low level commenting is not necessary but u can use, just try to explain the things u think is important
 *
 */

/*
 * RULES
 *
 *  1) STICKER DEMO
 *
 */







/*----------------*\
   #STICKER DEMO
\*----------------*/



.wrap {
  max-width: 436px;
}



.sd {
  position: relative;
  height: 100%;
  background-color: #fff;
  font-size: 0;
}

  .sd__head {
    position: absolute;
    z-index: 2;
    top:    0;
    right:  0;
    left:   0;
    text-align: center;
    background-color: rgba(247,247,247,.65);
    box-shadow: 0 1px rgba(130,130,130,.3);
    -webkit-backdrop-filter: blur(20px) saturate(180%);
  }

    .sd__head__status {
      position: relative;
      padding-bottom: 5.3%;
      font-size: 10px;
      font-weight: 500;
      text-align: left;
    }

      .sd__head__status__ {
        position: absolute;
        top:    0;
        right:  1.5%;
        bottom: 0;
        left:   1.5%;
      }

        .sd__head__status__left {
          display: inline-block;
          vertical-align: middle;
        }

        .sd__head__status__left:nth-child(1) {
          width:  9.3%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 1475% 125%;
          background-image: url(../images/icons.png);
        }

        .sd__head__status__left:nth-child(3) {
          width:  3.6%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 3861% 125%;
          background-position: 7.7% 0;
          background-image: url(../images/icons.png);
        }

        .sd__head__status__time {
          position: absolute;
          top:  50%;
          left: 50%;
          text-align: center;
          -webkit-transform: translate3d(-50%,-50%,0);
                  transform: translate3d(-50%,-50%,0);
        }

        .sd__head__status__other {
          width:  14.8%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 933% 125%;
          background-position: 12.5% 0;
          background-image: url(../images/icons.png);
        }
      
    .sd__head__app {
      position: relative;
    }
    
      .sd__head__app__back {
        position: absolute;
        top: 16.6%;
        left: 3.5%;
        width:   3.5%;
        height: 37.9%;
        background-repeat: no-repeat;
        background-size: 3877% 100%;
        background-position: 23.4% 0;
        background-image: url(../images/icons.png);
      }
      
      .sd__head__app__info {
        position: absolute;
        top:  16.6%;
        right: 3.5%;
        width:   6.1%;
        height: 37.9%;
        background-repeat: no-repeat;
        background-size: 2191% 100%;
        background-position: 27.5% 0;
        background-image: url(../images/icons.png);
      }
      
      .sd__head__app__avatar {
        position: relative;
        display: inline-block;
        width:  10.6%;
      }

        .sd__head__app__avatar:before {
          content: '';
          display: block;
          padding-bottom: 100%;
          border-radius: 50%;
          background: linear-gradient(to top, #8b8f99 0%, #a9afbb 100%);
        }

        .sd__head__app__avatar:after {
          content: attr(data-text);
          position: absolute;
          top:  50%;
          left: 50%;
          color: #fff;
          font-size: 14px;
          font-weight: 500;
          text-transform: uppercase;
          -webkit-transform: translate3d(-50%,-50%,0);
                  transform: translate3d(-50%,-50%,0);
        }

        @media all and (min-width: 350px) {
          .sd__head__app__avatar:after {
            font-size: 16px;
          }
        }

        @media all and (min-width: 380px) {
          .sd__head__app__avatar:after {
            font-size: 18px;
          }
        }

        @media all and (min-width: 410px) {
          .sd__head__app__avatar:after {
            font-size: 20px;
          }
        }
      
      .sd__head__app__name {
        padding: 1% 0 1.5%;
        font-size: 12px;
        font-weight: 400;
      }

  .sd__body {
    position: absolute;
    z-index: 1;
    top:    0;
    right:  0;
    bottom: 0;
    left:   0;
  }

    .sd__body__elem {
      position: absolute;
      z-index: 2;
      bottom: 364px;
      right: 4.25%;
      max-width: 70%;
      padding: .4em 1em;
      border-radius: 1.2em;
      font-size: 12px;
      color: #fff;
      background-color: #0f84fe;
    }

    @media all and (min-width: 350px) {
      .sd__body__elem {
        font-size: 13px;
      }
    }

    @media all and (min-width: 380px) {
      .sd__body__elem {
        font-size: 14px;
      }
    }

    @media all and (min-width: 410px) {
      .sd__body__elem {
        font-size: 15px;
      }
    }

    .sd__body__elem--left {
      right: auto;
      bottom: 311px;
      left: 4.25%;
      color: #000;
      background-color: #e5e5ea;
    }

       .sd__body__elem:after {
         content: '';
         position: absolute;
         right:  0;
         bottom: 0;
         width:  1.13em;
         height: 1.13em;
         background-repeat: no-repeat;
         background-position: 85.7% 0;
         background-size: 2952% 144%;
         background-image: url(../images/icons.png);
         -webkit-transform: translate3d(33%,0,0);
                 transform: translate3d(33%,0,0);
       }

       .sd__body__elem--left:after {
         right:  auto;
         left:   0;
         background-position: 81.7% 0;
         -webkit-transform: translate3d(-33%,0,0);
                 transform: translate3d(-33%,0,0);
       }

    .sd__body__bottom {
      position: absolute;
      z-index: 2;
      right:  0;
      bottom: 0;
      left:   0;
      height: 6.3%;
      transition: transform .3s ease-in-out;
      -webkit-transform: translate3d(0,0,0);
              transform: translate3d(0,0,0);
    }

    .open > .sd__body__bottom {
      -webkit-transform: translate3d(0,-616.6%,0);
              transform: translate3d(0,-616.6%,0);
    }

      .sd__body__bottom:before {
        content: '';
        position: absolute;
        right:  0;
        bottom: 0;
        left:   0;
        height: 100%;
        background-color: rgba(255,255,255,.65);
        box-shadow: 0 1px rgba(130,130,130,.3);
        -webkit-backdrop-filter: blur(20px) saturate(180%);
      }

      .sd__body__bottom.big:before {
        height: 336%;
      }

      .sd__body__bottom__icons {
        position: absolute;
        z-index: 1;
        height: 61.9%;
        top:   50%;
        left:   0;
        width: 57%;
        padding-left: 4%;
        text-align: justify;
        transition: .3s ease-in-out;
        -webkit-transform: translate3d(-78%,-50%,0);
                transform: translate3d(-78%,-50%,0);
      }

      .open > .sd__body__bottom__icons {
        -webkit-transform: translate3d(0,-50%,0);
                transform: translate3d(0,-50%,0);
      }

        .sd__body__bottom__icons:after {
          content: '';
          display: inline-block;
          vertical-align: middle;
          width: 100%;
        }

        .sd__body__bottom__icons__elem {
          display: inline-block;
          vertical-align: middle;
          width:  18.1%;
          height: 100%;
          background-repeat: no-repeat;
          background-size: 1434% 100%;
          background-image: url(../images/icons.png);
          opacity: 0;
          transition: opacity .3s ease-in-out, transform .3s ease-in-out;
          -webkit-transform: translate3d(-75%,0,0);
                  transform: translate3d(-75%,0,0);
        }

        .open > .sd__body__bottom__icons > .sd__body__bottom__icons__elem {
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
                  transform: translate3d(0,0,0);
        }

        .sd__body__bottom__icons__elem:nth-child(1) {
          background-position: 33.5% 0;
          transition-delay: .2s;
        }

        .sd__body__bottom__icons__elem:nth-child(2) {
          background-position: 40.5% 0;
          transition-delay: .15s;
        }

        .sd__body__bottom__icons__elem:nth-child(3) {
          background-position: 48.2% 0;
          transition-delay: .1s;
        }

        .sd__body__bottom__icons__elem:nth-child(3).active {
          background-position: 56.6% 0;
        }

        .sd__body__bottom__icons__elem:nth-child(4) {
          background-position: 70.8% 0;
          opacity: 1;
          -webkit-transform: translate3d(0,0,0);
                  transform: translate3d(0,0,0);
        }

        .open > .sd__body__bottom__icons > .sd__body__bottom__icons__elem:nth-child(4) {
          opacity: 0;
        }

      .sd__body__bottom__input {
        position: absolute;
        z-index: 2;
        top:   7%;
        right: 4.25%;
        bottom: 7%;
        width: 48.5%;
        border-radius: 18px;
        border: solid 1px  #ccc;
        background-color: #fafafa;
      }

      .big > .sd__body__bottom__input {
        top: -229%;
      }

        .sd__body__bottom__input:after {
          content: '';
          position: absolute;
          right:   0;
          bottom: 25%;
          left:    0;
          height: 1px;
          background-color: rgba(130,130,130,.2);
          opacity: 0;
          transition: transform .3s ease-in-out;
          transform-origin: 100% 50%;
          -webkit-transform: scaleX(1.65);
                  transform: scaleX(1.65);
        }

        .big > .sd__body__bottom__input:after {
          opacity: 1;
        }

        .open > .sd__body__bottom__input:after {
          -webkit-transform: scale(1);
                  transform: scale(1);
        }

        .sd__body__bottom__input__helper {
          position: absolute;
          top:    0;
          right: 18px;
          bottom: 0;
          left:   0;
          border-radius: 18px 0 0 18px;
          background-color: #fafafa;
          box-shadow: -1px 0 #ccc, 0 -1px #ccc, 0 1px #ccc;
          transition: .3s ease-in-out;
          -webkit-transform: translate3d(-72%,0,0);
                  transform: translate3d(-72%,0,0);
        }

        .open > .sd__body__bottom__input > .sd__body__bottom__input__helper {
          -webkit-transform: translate3d(0,0,0);
                  transform: translate3d(0,0,0);
        }

          .sd__body__bottom__input__helper:before {
            content: '';
            position: absolute;
            top:    0;
            right:  0;
            bottom: 0;
            left:  18px;
            background-color: #fafafa;
            box-shadow: 0 -1px #ccc, 0 1px #ccc;
            transition: .3s ease-in-out;
            -webkit-transform: translate3d(40%,0,0);
                    transform: translate3d(40%,0,0);
          }

          .open > .sd__body__bottom__input > .sd__body__bottom__input__helper:before {
            -webkit-transform: translate3d(0,0,0);
                    transform: translate3d(0,0,0);
          }

      .sd__body__bottom__btn {
        position: absolute;
        z-index: 3;
        top:  50%;
        right: 5.6%;
        width:  7.2%;
        background-repeat: no-repeat;
        background-size: 1859% 100%;
        background-image: url(../images/icons.png);
        transition: opacity .3s ease-in-out;
        -webkit-transform: translate3d(0,-50%,0);
                transform: translate3d(0,-50%,0);
      }

        .sd__body__bottom__btn:after {
          content: '';
          display: block;
          padding-bottom: 100%;
        }

      .sd__body__bottom__btn--mic {
        background-position: 63.7% 0;
      }

      .sd__body__bottom__btn--send {
        background-position: 77.3% 0;
        opacity: 0;
      }

      .active ~ .sd__body__bottom__btn--mic {
        transition: opacity 0s;
        opacity: 0;
      }

      .active ~ .sd__body__bottom__btn--send {
        transition: opacity 0s;
        opacity: 1;
      }

    .sd__body__stickers {
      position: absolute;
      right:  0;
      bottom: 0;
      left:   0;
      background-color: #fff;
      transition: .3s ease-in-out;
      -webkit-transform: translate3d(0,100%,0);
              transform: translate3d(0,100%,0);
    }

    .open > .sd__body__stickers {
      -webkit-transform: translate3d(0,0,0);
              transform: translate3d(0,0,0);
    }

      .sd__body__stickers__grid {
        position: relative;
        padding-bottom: 69%;
      }

        .sd__body__stickers__grid__ {
          position: absolute;
          top:    0;
          right:  0;
          bottom: 0;
          left:   0;
          overflow-x: hidden;
          overflow-y: scroll;
          -webkit-overflow-scrolling: touch;
        }

        /* bug fix for not scrolling after reveal */
        .open .sd__body__stickers__grid__ {
          transition-delay: .3s;
          padding-bottom: 12%;
        }

          .sd__body__stickers__grid__elem {
            display: inline-block;
            vertical-align: middle;
            background-repeat:   no-repeat;
            background-position: center center;
            background-size:     contain;
          }

          .sd__body__stickers__grid__--2 > .sd__body__stickers__grid__elem {width: 50%}
          .sd__body__stickers__grid__--3 > .sd__body__stickers__grid__elem {width: 33.33337%}
          .sd__body__stickers__grid__--4 > .sd__body__stickers__grid__elem {width: 25%}

            .sd__body__stickers__grid__elem > img {
              max-width: 100%;
            }

      .sd__body__stickers__bottom {
        position: absolute;
        right:  0;
        bottom: 0;
        left:   0;
        padding-bottom: 11.5%;
        background-color: rgba(255,255,255,.65);
        box-shadow: 0 -1px rgba(130,130,130,.3);
        -webkit-backdrop-filter: blur(20px) saturate(180%);
      }

        .sd__body__stickers__bottom__left {
          position: absolute;
          top: 50%;
          left: 4.25%;
          width: 6.65%;
          background-repeat: no-repeat;
          background-position: 91.1% 0;
          background-size: 2008% 125%;
          background-image: url(../images/icons.png);
          -webkit-transform: translate3d(0,-50%,0);
                  transform: translate3d(0,-50%,0);
        }

          .sd__body__stickers__bottom__left:before {
            content: '';
            display: block;
            padding-bottom: 80%;
          }

        .sd__body__stickers__bottom__center {
          position: absolute;
          top:  50%;
          left: 50%;
          width: 3.2%;
          background-repeat: no-repeat;
          background-position: 94.8% 0;
          background-size: 4183% 125%;
          background-image: url(../images/icons.png);
          -webkit-transform: translate3d(-100%,-50%,0);
                  transform: translate3d(-100%,-50%,0);
        }

          .sd__body__stickers__bottom__center:before {
            content: '';
            display: block;
            padding-bottom: 167%;
          }

          .sd__body__stickers__bottom__center:after {
            content: '';
            position: absolute;
            left: 130%;
            top:  35%;
            width:  50%;
            height: 30%;
            border-radius: 50%;
            background-color: #000;
          }

        .sd__body__stickers__bottom__right {
          position: absolute;
          top: 50%;
          right: 4.25%;
          width: 6.65%;
          background-repeat: no-repeat;
          background-position: 100% 0;
          background-size: 2008% 125%;
          background-image: url(../images/icons.png);
          -webkit-transform: translate3d(0,-50%,0);
                  transform: translate3d(0,-50%,0);
        }

          .sd__body__stickers__bottom__right:before {
            content: '';
            display: block;
            padding-bottom: 80%;
          }

      .sd__body__stickers__keyboard {
        display: none;
        position: absolute;
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        background-image: url(../images/keyboard.png);
      }

      .keyboard > .sd__body__stickers > .sd__body__stickers__keyboard {
        display: block;
      }