/*
 * BEFORE MODIFYING THIS DOCUMENT READ THIS DOCUMENTATION:
 *
 * http://cssguidelin.es/
 *
 * What differs from the guideline:
 *
 * - Indentations are 2px
 * - Columns are 120px wide
 * - don't use [] in html inside class="" for grouping
 * - in html class="" don't use 2 space between classes, but put the related ones next to each other
 * - low level commenting is not necessary but u can use, just try to explain the things u think is important
 *
 */

/*
 * RULES
 *
 *  1) GLOBAL.................................global rules for regular html elements
 *
 *  2) MAIN LAYOUT............................rules for the main wrapper elements
 *
 */







/*----------*\
   #GLOBAL
\*----------*/



html, body {
  height: 100%; /* needed for setting height of other elements */
}

body {
}

canvas {
  width:  100%;
  height: 100%;
}





/*--------------*\
   #MAIN LAYOUT
\*--------------*/




