/*
 * BEFORE MODIFYING THIS DOCUMENT READ THIS DOCUMENTATION:
 *
 * http://cssguidelin.es/
 *
 * What differs from the guideline:
 *
 * - Indentations are 2px
 * - Columns are 120px wide
 * - don't use [] in html inside class="" for grouping
 * - in html class="" don't use 2 space between classes, but put the related ones next to each other
 * - low level commenting is not necessary but u can use, just try to explain the things u think is important
 *
 */

/*
 * RULES
 *
 *  1) GLOBAL.................................global rules for regular html elements
 *
 *
 */







/*----------*\
   #GLOBAL
\*----------*/


/*----------*\
   #ICONS
\*----------*/



.s_col {
  margin: 0 auto;
  max-width: 1024px;
}

.s_icons {
  padding: 40px 0;
  font-size: 0; /* prevent space between inline-box */
}

.s_icon {
  display: inline-block;
  vertical-align: top;
  width: 100%;
}

  .s_icon__pad {
    padding: 10px;
  }

    .s_icon__height {
      position: relative;
      padding-bottom: 56.25%;
    }

      .s_icon__height:before, .s_icon__height:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: 0;
        width:  3px;
        height: 3px;
        background-repeat:   no-repeat;
        background-position: center center;
        background-size:     cover;
      }

      .s_icon__height:before {
        left: 0;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAw2lkRn+7/fAAAAAeSURBVAjXYwgNFWIIDWJgCHVgYAhmYGAQAGIDBgYAKaICjBSMBgAAAAAASUVORK5CYII=");
      }

      .s_icon__height:after {
        right: 0;
        background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAw2lkRn+7/fAAAAAaSURBVAjXYzAMDWVgMAViFiBmUAViRiBmAgAiAgHnw2/DLgAAAABJRU5ErkJggg==");
      }

      .s_icon__box {
        position: absolute;
        top:    0;
        right:  0;
        bottom: 0;
        left:   0;
        overflow: hidden;
        background-color: #ccc;
        border-radius: 4px;
      }

        .s_icon__box:before, .s_icon__box:after {
          content: '';
          position: absolute;
          z-index: 1;
          bottom: 0;
          width:  3px;
          height: 3px;
          background-repeat:   no-repeat;
          background-position: center center;
          background-size:     cover;
        }

        .s_icon__box:before {
          left: 0;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAw2lkRn+7/fAAAAAaSURBVAjXY1BgYGAQAOIgIA51AOJgIA4VBgAVHgJ92UOPyAAAAABJRU5ErkJggg==");
        }

        .s_icon__box:after {
          right: 0;
          background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAYAAAAGBAMAAAAS4vJ7AAAAElBMVEUAAAD///////////////////8+Uq06AAAABXRSTlMAw2lkRn+7/fAAAAAdSURBVAjXY2BgYAZiRiA2ZWBgCWVgUA1lUAwNBQAKJwHYQblKqQAAAABJRU5ErkJggg==");
        }

        .s_icon__layer {
          position: absolute;
          top:    0;
          right:  0;
          bottom: 0;
          left:   0;
          background-repeat:   no-repeat;
          background-position: center center;
          background-size:     cover;
          -webkit-transform: translate3d(0,0,0);
                  transform: translate3d(0,0,0);
        }

        .s_icon__box--adrenaline > .s_icon__layer {

        }

        .s_icon__box--adrenaline > .s_icon__layer--1 {
          top:    -10px;
          right:  -10px;
          bottom: -10px;
          left:   -10px;
          background-image: url('../images/adrenaline-pumping-0.jpg');
          animation-duration: 100ms;
          animation-iteration-count: infinite;
          animation-name: shake-little;
          animation-timing-function: ease-in-out;
        }

        .s_icon__box--adrenaline > .s_icon__layer--2 {
          background-image: url('../images/adrenaline-pumping-1.png');
          animation-duration: 1s;
          animation-iteration-count: infinite;
          animation-name: shake-little;
          animation-timing-function: ease-in-out;
        }

        .s_icon__box--adrenaline > .s_icon__layer--3 {
          background-image: url('../images/adrenaline-pumping-2.png');
          animation-duration: 100ms;
          animation-iteration-count: infinite;
          animation-name: shake-horizontal;
          animation-timing-function: ease-in-out;
        }

        .s_icon__box--minutes > .s_icon__layer {
        }

        .s_icon__box--minutes > .s_icon__layer--1 {
          background-color: #eff0e4;
        }

        .s_icon__box--minutes > .s_icon__layer--2 {
          top:  56%;
          left: 61%;
          width:  100%;
          height: 2px;
          background-color: #de2823;
          transform-origin: 15% 0;
          animation: rotate 60s infinite steps(60);
        }

        .s_icon__box--minutes > .s_icon__layer--3 {
          background-image: url('../images/minutes-2.png');
        }



@media screen and (min-width: 480px) {
  .s_icon {
    width: 50%;
  }
}

@media screen and (min-width: 768px) {
  .s_icon {
    width: 33.33337%;
  }
}





/*--------------*\
   #ANIMATIONS
\*--------------*/


@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes shake-horizontal {
  2% {
    transform: translate(1px, 0) rotate(0);
  }

  4% {
    transform: translate(4px, 0) rotate(0);
  }

  6% {
    transform: translate(7px, 0) rotate(0);
  }

  8% {
    transform: translate(-1px, 0) rotate(0);
  }

  10% {
    transform: translate(-1px, 0) rotate(0);
  }

  12% {
    transform: translate(1px, 0) rotate(0);
  }

  14% {
    transform: translate(-3px, 0) rotate(0);
  }

  16% {
    transform: translate(-8px, 0) rotate(0);
  }

  18% {
    transform: translate(-9px, 0) rotate(0);
  }

  20% {
    transform: translate(-3px, 0) rotate(0);
  }

  22% {
    transform: translate(-9px, 0) rotate(0);
  }

  24% {
    transform: translate(1px, 0) rotate(0);
  }

  26% {
    transform: translate(10px, 0) rotate(0);
  }

  28% {
    transform: translate(9px, 0) rotate(0);
  }

  30% {
    transform: translate(-2px, 0) rotate(0);
  }

  32% {
    transform: translate(9px, 0) rotate(0);
  }

  34% {
    transform: translate(2px, 0) rotate(0);
  }

  36% {
    transform: translate(-5px, 0) rotate(0);
  }

  38% {
    transform: translate(3px, 0) rotate(0);
  }

  40% {
    transform: translate(0px, 0) rotate(0);
  }

  42% {
    transform: translate(4px, 0) rotate(0);
  }

  44% {
    transform: translate(-7px, 0) rotate(0);
  }

  46% {
    transform: translate(-4px, 0) rotate(0);
  }

  48% {
    transform: translate(9px, 0) rotate(0);
  }

  50% {
    transform: translate(-6px, 0) rotate(0);
  }

  52% {
    transform: translate(-3px, 0) rotate(0);
  }

  54% {
    transform: translate(3px, 0) rotate(0);
  }

  56% {
    transform: translate(6px, 0) rotate(0);
  }

  58% {
    transform: translate(-5px, 0) rotate(0);
  }

  60% {
    transform: translate(-6px, 0) rotate(0);
  }

  62% {
    transform: translate(8px, 0) rotate(0);
  }

  64% {
    transform: translate(8px, 0) rotate(0);
  }

  66% {
    transform: translate(-7px, 0) rotate(0);
  }

  68% {
    transform: translate(8px, 0) rotate(0);
  }

  70% {
    transform: translate(6px, 0) rotate(0);
  }

  72% {
    transform: translate(5px, 0) rotate(0);
  }

  74% {
    transform: translate(6px, 0) rotate(0);
  }

  76% {
    transform: translate(7px, 0) rotate(0);
  }

  78% {
    transform: translate(-2px, 0) rotate(0);
  }

  80% {
    transform: translate(1px, 0) rotate(0);
  }

  82% {
    transform: translate(0px, 0) rotate(0);
  }

  84% {
    transform: translate(-6px, 0) rotate(0);
  }

  86% {
    transform: translate(0px, 0) rotate(0);
  }

  88% {
    transform: translate(1px, 0) rotate(0);
  }

  90% {
    transform: translate(-1px, 0) rotate(0);
  }

  92% {
    transform: translate(1px, 0) rotate(0);
  }

  94% {
    transform: translate(4px, 0) rotate(0);
  }

  96% {
    transform: translate(1px, 0) rotate(0);
  }

  98% {
    transform: translate(3px, 0) rotate(0);
  }

  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake-horizontal:hover, .shake-trigger:hover .shake-horizontal,
.shake-horizontal.shake-freeze, .shake-horizontal.shake-constant {
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-name: shake-horizontal;
  animation-timing-function: ease-in-out;
}

@keyframes shake-little {
  2% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  4% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  6% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  8% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  10% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  12% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  14% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  16% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  18% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  20% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  22% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  24% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  26% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  28% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  30% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  32% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  34% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  36% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  38% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  40% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  42% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  44% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  46% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  48% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  50% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  52% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  54% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  56% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  58% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  60% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  62% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  64% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  66% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  68% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  70% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  72% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  74% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  76% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  78% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  80% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  82% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  84% {
    transform: translate(1px, 1px) rotate(0.5deg);
  }

  86% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  88% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  90% {
    transform: translate(1px, 0px) rotate(0.5deg);
  }

  92% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  94% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  96% {
    transform: translate(0px, 0px) rotate(0.5deg);
  }

  98% {
    transform: translate(0px, 1px) rotate(0.5deg);
  }

  0%, 100% {
    transform: translate(0, 0) rotate(0);
  }
}

.shake-little:hover, .shake-trigger:hover .shake-little, .shake-little.shake-freeze,
.shake-little.shake-constant {
  animation-duration: 100ms;
  animation-iteration-count: infinite;
  animation-name: shake-little;
  animation-timing-function: ease-in-out;
}