html {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  margin:  0;
  padding: 0;
  color: #fff;
  background-color: #121212;
}

body.white {
  background-color: #fff;
}

h1, h2, h3, h4, h4, h6 {
  margin: 20px;
  opacity: .9;
  -webkit-text-size-adjust: 100%
}

p {
  margin: 20px;
  opacity: .7;
  -webkit-text-size-adjust: 100%
}

a {
  color: #089E00;
  text-decoration: none;
}

.tc-gallery {
  position: relative;
  height: 100%;
  overflow: hidden;
  color: #fff;
  -webkit-overflow-scrolling: touch;
  -webkit-scroll-snap-type: mandatory;
  -webkit-scroll-snap-destination: 0 100%;
}

.white .tc-gallery {
  color: #222;
}

    .tc-gallery__elem {
      position: absolute;
      top:  -webkit-calc(100% - 30px);
      left: 20px;
      width: -webkit-calc(100% - 40px);
      height: 100%;
      max-height: -webkit-calc(100% - 60px);
      background-color: #121212;
      box-shadow: 0 0 1px 1px rgba(255,255,255,.7), 0 0 5px 3px rgba(0,0,0,.5);
      border-radius: 3px;
      overflow: hidden;
      opacity: 0;
      -webkit-transition: -webkit-transform .4s ease-out, opacity .4s ease-out;
      -webkit-transform-origin: 50% 0;
      -webkit-transform: scale(.9) translate3d(0,-20px,0);
    }

    .white .tc-gallery__elem {
      background-color: #fff;
      box-shadow: 0 -1px 3px -1px rgba(0,0,0,.5), 0 3px 8px rgba(0,0,0,.35);
    }

    .tc-gallery__elem--start {
      width: 100%;
      top:  50%;
      left: 0;
      border-radius: 0;
      background-color: rgb(45,45,45);
      box-shadow: none;
    }

    .white .tc-gallery__elem--start {
      background-color: #eee;
      box-shadow: 0 0 10px rgba(0,0,0,.5);
    }

    .landscape > .tc-gallery__elem {
      top:  20px;
      left:  -webkit-calc(100% - 30px);
      height: -webkit-calc(100% - 40px);
      width: 100%;
      max-width: -webkit-calc(100% - 40px);
      max-height: none;
      -webkit-transform-origin: 0 50%;
      -webkit-transform: scale(.9) translate3d(-20px,0,0);
    }

    .landscape .tc-gallery__elem--start {
      height: 100%;
      top: 0;
      left: 50%;
    }

      .tc-gallery__elem--start:after {
        content: '';
        position: absolute;
        bottom: 10px;
        left:   50%;
        width:  32px;
        height: 12px;
        margin: 0 0 0 -16px;
        background-repeat:   no-repeat;
        background-position: center center;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAMCAMAAAA0yk+LAAAAP1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////9Du/pqAAAAFHRSTlMABvDt583EvbWVjIVkXVUtJgwgH8iBUnYAAABmSURBVBjTddBXDoAgEATQwa50nPuf1RCMqyDvc5Ntg9lEdEUzgxx2j19+H0gwW6xCRdmFGViMR8BLOEYW4GN16m52q1SxUUw6AUlPFFtT+Dac7chqZXuUHN15S97uBCPBdaKto78AjIkNomMw6TAAAAAASUVORK5CYII=);
      }

      .white .tc-gallery__elem--start:after {
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAMCAMAAAA0yk+LAAAANlBMVEUAAAAiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiI9/c7aAAAAEXRSTlMA7+fNxL21lYyFZF1VLSYfDPpWS2QAAABgSURBVBjTdVBHEgAxCDK9F///2fXiJKMbjoAFwNUNT+zqANGk8S+PZBDJQPBNy82TwAZak+etzkzDbGCEznIPh4WIB7YsgFXsRUVFiAG9UpzUT4mndSwRWxcjitPVyuo/2qQLcebCy4oAAAAASUVORK5CYII=);
      }

      .landscape .tc-gallery__elem--start:after{
        right:  10px;
        bottom: 50%;
        left: auto;
        margin: 16px 0 0 0;
        -webkit-transform: rotate(-90deg);
      }

      .tc-gallery__elem--start__img {
        height: 40%;
        background-repeat:   no-repeat;
        background-position: center center;
        background-size:     cover;
      }

      .landscape .tc-gallery__elem--start__img {
        width: 40%;
        height: 100%;
        float: left;
      }

      .tc-gallery__elem--start__text {
        max-height: -webkit-calc(60% - 50px);
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-backdrop-filter: blur(40px);
        -webkit-overflow-scrolling: touch;
      }

      .landscape .tc-gallery__elem--start__text {
        height: 100%;
        max-width: -webkit-calc(60% - 50px);
        max-height: none;
      }

    .tc-gallery__elem.next {
      z-index: 3;
      opacity: 1;
      -webkit-transform: scale(1) translate3d(0,0,0);
    }

    .tc-gallery__elem.next + .tc-gallery__elem {
      z-index: 2;
      opacity: 1;
      -webkit-transform: scale(.95) translate3d(0,-10px,0);
    }

    .tc-gallery__elem.next + .tc-gallery__elem + .tc-gallery__elem {
      z-index: 1;
      opacity: 1;
    }

    .landscape > .tc-gallery__elem.next + .tc-gallery__elem {
      -webkit-transform: scale(.95) translate3d(-10px,0,0);
    }

    .tc-gallery__elem.active {
      z-index: 4;
      opacity: 1;
    }

    .tc-gallery__elem.prev {
      z-index: 3;
      opacity: 1;
    }

      .tc-gallery__elem > img {
        position: absolute;
        top:  0;
        left: 0;
        width: 100%;
        height: auto;
        -webkit-transition: -webkit-transform .4s ease-in-out;
      }

      .landscape > .tc-gallery__elem > img {
        width:  auto;
        height: 100%;
      }

      .tc-gallery__elem > img.img-overflow {
        -webkit-transform: translate3d(0,0,0) !important;
      }

      .tc-gallery__elem__data {
        position: absolute;
        right:  0;
        bottom: 0;
        left:   0;
        background-color: rgba(68,68,68,.6);
        -webkit-backdrop-filter: blur(40px);
        -webkit-transition: .4s ease-in-out;
      }

      .white .tc-gallery__elem__data {
        background-color: rgba(230,230,230,.8);
      }

      .landscape .tc-gallery__elem__data {
        top:    0;
        right:  0;
        bottom: 0;
        left: auto;
        width: 300px;
      }

      .img-overflow + .tc-gallery__elem__data {
        -webkit-transform: translate3d(0,0,0) !important;
      }

        .tc-gallery__elem__data:before {
          content: '';
          position: absolute;
          top: -46px;
          right: 10px;
          width:  36px;
          height: 36px;
          border-radius: 50%;
          opacity: 0;
          background-repeat:   no-repeat;
          background-position: center center;
          background-size: 16px 6px;
          background-color: #444;
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAMCAMAAAA0yk+LAAAAP1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////9Du/pqAAAAFHRSTlMABvDt583EvbWVjIVkXVUtJgwgH8iBUnYAAABmSURBVBjTddBXDoAgEATQwa50nPuf1RCMqyDvc5Ntg9lEdEUzgxx2j19+H0gwW6xCRdmFGViMR8BLOEYW4GN16m52q1SxUUw6AUlPFFtT+Dac7chqZXuUHN15S97uBCPBdaKto78AjIkNomMw6TAAAAAASUVORK5CYII=);
          -webkit-transition: .4s ease-in-out;
        }

        .white .tc-gallery__elem__data:before {
          background-color: rgba(230,230,230,.8);
          background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAMCAMAAAA0yk+LAAAANlBMVEUAAAAiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiIiI9/c7aAAAAEXRSTlMA7+fNxL21lYyFZF1VLSYfDPpWS2QAAABgSURBVBjTdVBHEgAxCDK9F///2fXiJKMbjoAFwNUNT+zqANGk8S+PZBDJQPBNy82TwAZak+etzkzDbGCEznIPh4WIB7YsgFXsRUVFiAG9UpzUT4mndSwRWxcjitPVyuo/2qQLcebCy4oAAAAASUVORK5CYII=);
        }

        .landscape .tc-gallery__elem__data:before {
          top:   10px;
          right: auto;
          left: -46px;
          -webkit-transform: rotate(-90deg);
        }

        .img-overflow + .tc-gallery__elem__data:before {
          opacity: 1;
        }

        .tc-gallery__elem__data > h2 {
          margin: 0 10px;
          font-size: 24px;
          line-height: 45px;
          white-space: nowrap !important;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .landscape .tc-gallery__elem__data > h2 {
          line-height: 35px;
          margin: 10px;
          white-space: normal !important;
          overflow: inherit;
        }

        .tc-gallery__elem__data__wrap {
          margin-bottom: 10px;
          overflow-x: hidden;
          overflow-y: auto;
          -webkit-overflow-scrolling: touch;
        }

        .landscape .tc-gallery__elem__data__wrap {
          height: -webkit-calc(100% - 55px);
        }

        .tc-gallery__elem__data__wrap.noSwipe {
          height: -webkit-calc(100% - 55px);
        }

          .tc-gallery__elem__data__wrap__text {
          }

            .tc-gallery__elem__data__wrap__text > p {
              margin: 0 10px;
              font-size: 14px;
              line-height: 17px;
            }

.loader {
  position: absolute;
  z-index: 5;
  top:  20%;
  left: 50%;
  width:  30px;
  height: 30px;
  margin: -15px 0 0 -15px;
  border: 4px solid #089E00;
  animation: loader 2s infinite ease;
}

.loaded > .loader {
  display: none;
}

  .loader:after {
    content: '';
    display: block;
    width:  100%;
    height: 100%;
    background-color: #089E00;
    -webkit-transform-origin: 50% 0;
    animation: loader-inner 2s infinite ease-in;
  }

@keyframes loader {
  0% {transform: rotate(0deg);}
  25% {transform: rotate(180deg);}
  50% {transform: rotate(180deg);}
  75% {transform: rotate(360deg);}
  100% {transform: rotate(360deg);}
}

@keyframes loader-inner {
  0% {-webkit-transform: scaleY(0);}
  25% {-webkit-transform: scaleY(0);}
  50% {-webkit-transform: scaleY(1);}
  75% {-webkit-transform: scaleY(1);}
  100% {-webkit-transform: scaleY(0);}
}
